[2015-02-27 16:31] joshbenner opened #1 "MySQL does not always see mapped my.cnf"
I have .docker and fig.yml in the root of the project. Often after starting with `fig up -d`, MySQL behaves as if it has not seen the mapped 99-my.cnf file. Sometimes this is obvious if the InnoDB log files are different sizes than in my.cnf (container fails), and if no InnoDB log files exist yet, then MySQL will often suffer from too-small packets and the like.

A hint that MySQL has not read the

[2015-02-27 21:50] mkorostoff opened #2 "Not able to boot Drupal after first install"
# Problem:

After completing the steps in README.md, I am not able to access drupal through docker.
# Steps I Took
1. I created the following folder structure, as specified in [usage](https://github.com/blinkreaction/docker-fig-drupal#usage), steps 1 and steps 2:

[code]
1. I created a `settings.php` file and added the DB credentials per step 3 of README.md
2. Ran `sudo vagrant up`.  Received the

[2015-02-27 22:02] lmakarov commented on #2
@MKorostoff the `boot2docker-vm` VM is the stock boot2docker (which came with the docker Mac installed), not the one managed by vagrant ([boot2docker-vagrant](https://github.com/blinkreaction/boot2docker-vagrant))

Please do `boot2docker stop` to stop the stock one or `boot2docker destroy` to get rid of it entirely.

([boot2docker-vagrant](https://github.com/blinkreaction/boot2docker-vagrant)) has

[2015-03-02 19:06] mkorostoff opened #3 "Connection dies when left idle"
Steps I took:
- Created a new linux VM with [boot2docker-vagrant](https://github.com/blinkreaction/boot2docker-vagrant)
- Created a new container with `fig up -d` and the fig.yml file in this repository
- SSHed to the new container, and installed drupal
- Navigated to http://192.168.10.11/
- Saw that Drupal was installed
- Went to lunch (gone about 30 minutes)
- Returned to see that my SSH session

[2015-03-02 19:17] mkorostoff commented on #2
Just updating this for posterity, I'm pretty sure the main problem here was running vagrant with sudo.  Because of the, Vagrant created a VM that the VirtualBox UI did not have permission to read.  I think that's right anyhow.

Once I changed the owner of `~/.vagrant.d/` to be a normal user (not root) I was able to run vagrant without sudo, and VirtualBox could see my VM:

![vb2](https://cloud.git

[2015-03-02 19:26] mkorostoff opened #4 "Cannot use mysql from command line"
## Steps to reproduce:
1. Boot up a container with fig
2. Run `fig run --rm web bash`
3. Run `mysql`
4. Receive the error: `Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)`
   ![term](https://cloud.githubusercontent.com/assets/1197335/6448475/3d0f1bae-c0e8-11e4-976c-96eb7b82e0fc.png)
## Expected behavior

That I would enter an interactive mysql command prompt

[2015-03-02 19:38] lmakarov commented on #4
MySQL is in a different container and not available locally.
Use `drush sqlc` to connect to the site's DB.
You can also connect to the DB container with an external client on your host with the container IP:port for mysql defined in the fig.yml file.

[2015-03-02 19:43] mkorostoff commented on #4
Thanks!

[2015-03-02 19:57] mkorostoff opened #5 "Cannot `show tables` with drush sqlc"
## Steps to reproduce:
1. SSH to your container
2. Drop into a mysql command prompt per issue #4
3. Type `show tables;`
4. See that only a portion of the tables are shown.  Usually the output truncates around line 60, but occasionally truncates around line 40.  Occasionally all results shown.  Occasionally the first and last result shows, but several results in the middle are missing:

![showtable

[2015-03-03 15:07] lmakarov commented on #5
This is a bug in fig (docker-compose): https://github.com/docker/compose/issues/658
This comment suggest a workaround for now: https://github.com/docker/compose/issues/658#issuecomment-75124548

You basically have to enter the container with using `docker` command instead of `fig` like this

[code]

In your example this should look like: `docker exec -it drupal7_web_1 bash`

[2015-03-03 15:15] lmakarov commented on #2
Yep, vagrant should NOT be run as root (with sudo). Here's a good answer confirming this and instructions on getting this resolved: http://stackoverflow.com/a/25691501/4550880

In a nutshell:

[code]

[2015-03-03 15:15] #2 closed, assigned to nobody

[2015-03-03 15:16] #4 closed, assigned to nobody

[2015-03-03 15:35] mkorostoff commented on #2
Thanks for the info!

[2015-03-03 16:59] mkorostoff commented on #5
Confirming that this worked for me!  Thanks!

[2015-03-03 17:02] #5 closed, assigned to nobody

[2015-03-03 17:28] mkorostoff opened #6 "Databases do not persist"
On Friday, with the assistance of @lmakarov I created two docker containers with 1 Drupal site each.  These were hosted at http://192.168.10.10/ and http://192.168.10.11/.

I returned on Monday, ran the following two commands: `vagrant up` and `fig up -d`.  I attempted to load both sites, but one was unavailable with the following message:

![broken db](https://cloud.githubusercontent.com/assets/1

[2015-03-03 17:57] lmakarov commented on #6
@MKorostoff did you do anything else with the fig.yml files or Vagrantfile?

There are two possible causes I see:
- the vagrant box was reinitialized (`vagrant destroy`, then `vagrant up`)
- the containers got reinitialized by fig (`fig stop`, then `fig rm`, then `fig up -d`)

[2015-03-03 19:15] mkorostoff commented on #6
I'm 95% sure I never gave the command `vagrant destroy`, and 100% sure I never gave the commands `fig stop` or `fig rm`.  I may have given the command `vagrant halt` though I don't recall specifically.  I've definitely given the commands `vagrant up` and `fig up -d` several times each.

Here's my Vagrantfile, though I think it's just the stock one https://gist.github.com/MKorostoff/ed15cf74507818b

[2015-03-03 19:30] mkorostoff opened #7 "Can't connect to MySQL server"
After running `fig up -d`, I attempted to load my Drupal site in a web browser.  I receive the following error message:

![mysql](https://cloud.githubusercontent.com/assets/1197335/6470325/fbcbcbfa-c1b0-11e4-905f-2c544012ffa2.png)

I SSHed to the container and attempted to run the command `drush sqlc` but received the following error:

[code]

This may be related to #6, but I'm pretty sure it is a

[2015-03-03 20:32] lmakarov commented on #7
What does your `fig ps` and `docker ps -a` output look like?

[2015-03-03 20:59] mkorostoff commented on #7
fig ps:

[code]

docker ps:

[code]

[2015-03-03 21:30] lmakarov commented on #7
The db container is not running. Do `fig up -d` and check with `fig ps` that it's up.
Looks like there was an error running it (Exit 1). Check the log output with `fig logs db` and post here.

[2015-03-03 22:04] mkorostoff commented on #7
[code]

[2015-03-03 22:14] lmakarov commented on #7
I've seen this issue before

[code]

Not sure what causes it and I cannot offer a better solution that killing the dbdata container for now: `fig stop && fig rm dbdata && fig up -d`

[2015-03-04 19:09] mkorostoff commented on #7
`fig stop && fig rm dbdata && fig up -d` didn't change anything, _but_ `fig stop && fig rm db && fig up -d` did the trick (note the second command here is `fig rm db` rather than `fig rm dbdata`).  Once I ran that, I was able to SSH to the container and run `drush si` successfully.

Even though I don't really understand this ecosystem, this solution actually makes intuitive sense to me, because `d

[2015-03-04 19:09] #7 closed, assigned to nobody

[2015-03-05 23:21] lmakarov opened #9 "DB containers fails to start with 'cannot allocate memory for the buffer pool'"
The DB container started failing for me with the following log output:

[code]

[2015-03-06 14:42] mkorostoff commented on #6
Just an update—my databases have persisted for the past three days.  So, that's good news!

[2015-03-07 04:25] lmakarov commented on #7
It turns out both db and dbdata share the same volume (/var/lib/mysql). The volume is mounted in both containers and is physically the same folded on the Docker Host VM. Docker does not devele a volume while there is at least one container using it. So removing dbdata or db, but not both does not remove the shared /var/lib/mysql volume. Both need to be removed. The easiest thing to do is `fig stop

[2015-03-09 16:30] lmakarov commented on #9
This happens when the docker host runs out of memory and can result in lots of weird issues.
I've reduced the default innodb_buffer_pool_size from 512MB to 256MB, which should be sufficient for a medium size Drupal site.

Shutting down unused containers also helps to free up memory :)

[2015-03-09 16:30] #9 closed, assigned to lmakarov

[2015-03-12 20:36] mkorostoff opened #12 "Provide a new drush command, `drude-init`"
This is a feature request.

This drush command would do the following.  I'm going to skip over error handling and just give you the general idea of what I'm picturing:
1. Check to see if the current directory is empty
2. If the current directory is empty, download drupal to a subfolder called `docroot`
3. Check to see if [boot2docker-vagrant](https://github.com/blinkreaction/boot2docker-vagrant) i

[2015-03-14 00:39] #6 closed, assigned to nobody

[2015-03-14 00:40] lmakarov commented on #3
@MKorostoff  this will be pretty difficult to reproduce and debug. Have you experience this issue recently?

[2015-03-14 00:42] lmakarov commented on #1
@joshbenner this may be addressed with https://github.com/blinkreaction/drude/commit/03ab5695673ae77acabf17953df67f53ea8d17ab
Please reopen if you notice the issues again.

[2015-03-14 00:42] #1 closed, assigned to nobody

[2015-03-15 18:56] softeg opened #14 "Permanent DB data storage not mount in db service?"
Hi,

Do you have any idea why the Permanent DB data storage (/var/lib/mysql) aren't mounted in my local machine ubuntu ?

i try to create path manually and restart services, always same issue.

Thanks

[2015-03-16 19:35] lmakarov opened #16 "Map the whole project directory into /var/www"
Let's map the whole project directory into /var/www.
Here https://github.com/blinkreaction/docker-images/issues/18 we are changing the web iamges to point their docroots to /var/www/docroot.

This will make the folders outside docroot (e.g. drush, tests, etc.) available inside the web and cli containers.

[2015-03-17 10:14] softeg commented on #14
Plz, where i can find /var/lib/mysql mounted ?

[2015-03-17 15:57] lmakarov commented on #16
Resolved by https://github.com/blinkreaction/drude/commit/59f3fd87d8de029bdad9e032928e716da0355288

[2015-03-17 15:57] #16 closed, assigned to nobody

[2015-03-17 16:10] lmakarov commented on #14
@softeg /var/lib/mysql won't is the path inside the container, not the host.
On the host you can use `docker inspect $(docker-compose ps -q db)` or `docker inspect <container_name>` to find out the actual folder on the host used for that volume.

E.g.:

[code]

[2015-03-17 16:32] softeg commented on #14
Ok thanks for you response, but if i want to share a Permanent volume  like /var/www  ?

exemle :

# Permanent DB data storage

[code]

this exemple don't work ?

[2015-03-17 18:09] lmakarov commented on #14
That mapping will work, however you may have to `docker-compose rm db` first to get rid of the old volume mapping, then `docker-compose up -d` to map the new one.

[2015-03-19 16:00] lmakarov opened #17 "`dsh ps` with several projects"
`dsh ps` does not read the correct docker-compose.yml file if run from the Docker Host:
- on the host - http://take.ms/Di4bT
- on the docker host - http://take.ms/Sx7t7

Looks like it picks the 1st docker-compose.yml file it finds in my Projects folder.
If I delete the one in the drupal7 folder, then it picks the next one, which in that case is going to be the right one (emmis).

[2015-03-19 21:29] #17 closed, assigned to nobody

[2015-03-24 18:40] haixiang opened #20 "[RESOLVED] Stale NFS handle error"
### Issue:

Virtual machine stops working within 15 - 25min  after fresh start. It keeps the "running" state in the virtualbox, but the sites it serves are failing to load.
### Symptoms:
- the machine's IP stops pinging.
- `ifconfig` inside the virtual machine shows that the main network adapter has changed the IP address (usually to 192.168.56.101) and the mask:
  ![adapter](http://monosnap.com/i

[2015-03-24 18:44] lmakarov commented on #20
@haixiang thanks for the report and solution! I only hope this was the original issue we all had with the Stale NFS handle error (https://github.com/blinkreaction/boot2docker-vagrant/issues/1) and that now we know what causes it and how it can be fixed :)

[2015-03-24 18:44] #20 closed, assigned to nobody

[2015-03-24 18:49] lmakarov commented on #20
One note to the solution - you may not need to do a `vagrant destroy`.
Removing all host-only adapters it also a bit radical, but should not be hardfull and will clean up things.

So, if anyone runs into this issue again first try the following:
- remove all host-only adapters
- do `vagrant reload`
- check that the newly associated host-only adapter does NOT have the DHCP server enabled

[2015-03-27 23:34] softeg commented on #7
I have the same issue, idon't khow why ?
docker-compose ps

##   Name                Command               State                     Ports

cn_cli_1   /bin/sh -c /opt/startup.sh       Up
cn_db_1    /entrypoint.sh mysqld            Exit 1
cn_web_1   /bin/sh -c /opt/startup.sh ...   Up       0.0.0.0:443->443/tcp, 0.0.0.0:80->80/tcp
docker-compose logs db
Attaching to cn_db_1
db_1 | 150327 23:26:44 [

[2015-03-27 23:39] softeg commented on #7
to correct this issue you need to run this command :

docker-compose stop && docker-compose rm db && docker-compose up -d

[2015-03-27 23:48] softeg opened #21 "I don't use vagrant and i have this issue ?"
I can't run dsh command's

dsh st

/home/asoo/Documents/projects/cn/.docker/bin/dsh: 30: /home/asoo/Documents/projects/cn/.docker/bin/dsh: [[: not found
/home/asoo/Documents/projects/cn/.docker/bin/dsh: 192: [: ./: unexpected operator
/home/asoo/Documents/projects/cn/.docker/bin/dsh: 128: /home/asoo/Documents/projects/cn/.docker/bin/dsh: [[: not found
/home/asoo/Documents/projects/cn/.docker/bin/d

[2015-03-28 00:07] softeg opened #22 "Can't connect to mysql server ?"
My service is runing,but icn't connect with drush sqlc to mysql ?

docker-compose ps
##   Name                Command               State                    Ports

cn_cli_1   /bin/sh -c /opt/startup.sh       Up
cn_db_1    /entrypoint.sh mysqld            Up      0.0.0.0:3306->3306/tcp
cn_web_1   /bin/sh -c /opt/startup.sh ...   Up      0.0.0.0:443->443/tcp, 0.0.0.0:80->80/tcp

root@cli:/var/www/do

[2015-03-28 16:22] softeg commented on #14
Thanks it work's.

[2015-03-28 16:25] #14 closed, assigned to nobody

[2015-04-07 22:01] haixiang opened #24 "Add code sniffer to CLI container"
Lets add the code sniffer with Drupal standard so it can be run in the cli container.

[2015-04-08 13:12] lmakarov commented on #22
@softeg your DB settings are not correct - `127.0.0.1` is not the correct DB IP address. Did you follow the instructions [here](https://github.com/blinkreaction/drude/blob/master/.docker/docs/drupal-settings.md#db)?

[2015-04-08 13:12] #22 closed, assigned to nobody

[2015-04-08 13:14] lmakarov commented on #21
@softeg what kind of shell do you have? `echo $SHELL`

[2015-04-08 13:14] #3 closed, assigned to nobody

[2015-04-08 13:18] lmakarov commented on #21
BTW what is your OS?
`dsh` has not been much tested on Linux yet (outside of Tiny Core used by boot2docker).

[2015-04-08 14:13] mkorostoff commented on #3
I'm not sure why this would be closed.  I have not used drude really at all since this was first reported, but I experienced it twice in my week with drude.

[2015-04-08 14:41] lmakarov commented on #3
@MKorostoff this was closed for the lack of feedback and since no one else reported a similar issue.
If you continue to use drude and have this issues, then let me know, so it can be debugged.

[2015-04-08 15:41] lmakarov opened #25 "Improve "dsh mysql-import" error reporting"
`dsh mysql-import` will report `mysql-import finished` even if it actually failed.
Instead it should report `mysql-import failed: <error message>` in such cases.

This can be easily reproduced if `max_allowed_packet` is set to a low value (e.g `1M`) and trying to import a decent size DB:

[code]

[2015-04-08 15:47] lmakarov opened #26 "Add "dsh reset" command"
In some cases docker-compose provisioning may fail (e.g. IP or port conflict, etc.) and containers may get corrupted. Even if the underlying issue is then fixed and containers restarted with `dsh up` there may still be issue with volumes being corrupted.
The only way to fix corrupted volumes is by completely removing and recreating a container.

So `dsh reset` would be doing `docker-compose stop &

[2015-04-09 20:58] lmakarov commented on #26
Resolved in https://github.com/blinkreaction/drude/commit/d2dfd056b3870fb65c2a1d29f3d8614f2b76ef9d

[2015-04-09 20:58] #26 closed, assigned to lmakarov

[2015-04-16 14:59] comxd commented on #21
Hi,

I have the same issue into Linux ((K)Ubuntu 14.10).

[code]

[2015-04-16 15:29] comxd commented on #21
Can you test this commit on Windows and/or Mac?
https://github.com/blinkreaction/drude/compare/master...comxd:master

[2015-04-16 21:24] lmakarov commented on #21
@comxd  can you change the script preamble to `#!/bin/bash` in `.docker/bin/dsh` and see if that works for you?
I have a workaround available now to fake `bash` in boot2docker, so there won't be a need to stick with `sh` standards and limitations.

[2015-04-16 21:49] comxd commented on #21
Oh yes, it working good with "#!/bin/bash"!

[2015-04-16 21:56] comxd commented on #21
But I have this error:

[code]

[2015-04-16 22:53] comxd opened #27 "Error 500 or 403: How to check Apache error logs?"
Hi,

I have an "Error 500" error after #dsh up, I have edited the "project_root" into the docker-compose.yml file with: "- &project_root ".:/var/www/docroot"" and call #dsh reset and I now get an 403 Forbidden.

I have tried #docker logs MYPROJECT_web_1 and MYPROJECT_cli_1 but it not return any informations about this errors.

My project structure:
.docker/
.git/
docroot/
tmp/
docker-compose.yml
R

[2015-04-16 23:57] lmakarov commented on #21
@comxd looks like your docker daemon  is not running.

Does `docker version` and `sudo docker run hello-world` work for you?

[2015-04-17 01:29] comxd commented on #21
Sorry, I finally now can run this command without error :/

[2015-04-17 01:32] comxd commented on #27
I have recreated the project structure from scratch/repo and all containers run normally.

But I can't find the logs apache, mysql, memcache.

[2015-04-30 21:59] lmakarov commented on #27
@comxd containers output logs into stdout and stderr.
For now you can view the output via docker-compose: `docker-compose logs` (all containers) or `docker-compose logs <service name>` (a particular service, e.g. web, db).

Long term I will be adding `logs` commands to `dsh`.

[2015-05-02 01:06] webkenny opened #29 "Verify prerequisite packages before attempting a reinstall"
When you install this, and have Homebrew or Cask already installed, it throws two errors. These errors don't make the installation stop but UX can always be improved.

[code]

I'm going to go ahead and add a check for the two packages and I'll issue a pull request.

[2015-05-02 01:08] webkenny commented on #29
Wrong window! This is supposed to be on boot2docker. Closing and moving.

[2015-05-04 12:25] comxd commented on #27
Thanks for the reply. I have tried but the Apache errors seem to be not populated.

[2015-05-17 14:06] comxd opened #30 "Sending mail"
Hi,
What do you think of adding sendmail?

php.ini:

[code]

[2015-06-05 14:43] #29 closed, assigned to nobody

[2015-06-09 17:56] haixiang commented on #20
It appears that `vagrant destroy` is a required step. Simply rebuilding the images after turning off the DHCP does not resolve the issue.

[2015-06-09 18:02] chipkaye commented on #20
Just planting a flag here that this step needs to be part of the install automation or added as an explicit manual step in the install docs.

[2015-06-09 19:03] chipkaye opened #32 "Add drush rebuild-registry ("rr") command to CLI container."
https://www.drupal.org/project/registry_rebuild

[2015-07-21 17:05] frankcarey opened #40 "Conflicts with existing docker/boot2docker installation"
Since I already have boot2docker installed on OSX, and DOCKER_\* paths in my ~/.zshrc file, this causes conflicts when I install drude.

Namely I get this error:

[code]

Using docker ps directly I get

[code]

Issue was that I had these env flags already set:

[code]

I commented these out in my ~/.zshrc file and then it works
### Potential solutions
- Look for the existence of these ENV vars eit

[2015-07-21 17:11] frankcarey opened #41 "Duplicate bind mount /etc/php5/fpm/conf.d/z_php.ini"
[code]

[2015-07-21 18:41] frankcarey opened #42 "Connecting from cli to web (for use in testing)"
I can't seem to connect from the cli container so I can run my behat tests.

Ping web works (sort of) I get the box, but the pings don't respond.

[code]

When I use curl, it tries to redirect me to localhost, but then localhost:80 doesn't respond at all.

[code]

[2015-07-21 20:11] frankcarey opened #43 "Circular dependency - web, cli, browser"
When uncommenting the seleniume2/browser containers in the docker-compose.yml file, docker complains about the circular dependency.  Here is a copy of the file.

[code]

[2015-07-21 22:16] frankcarey opened #44 "Drude Installer conflicts with custom boot2docker VM vhost_proxy setting"
The drude installer will install the Vagrantfile and vagrant.yml (one level above), but the vhost_proxy setting causes port conflicts on 443 with the way the default docker-compose.yml is set.

See more details on the issue I opened upstream https://github.com/blinkreaction/boot2docker-vagrant/issues/31
### Example docker-compose.yml

[code]
### Recommended fix:

Only install an appropriate (pegge

[2015-07-21 23:03] frankcarey opened #45 "Support custom docroot and behat test settings."
The site I'm testing this with is a pantheon site. They annoyingly don't allow for docroots other than the repo root. I've fixed this by adding a symlink for docroot that points to the repo root, but this isn't optimal.

[code]

Similarly, my tests are not in /tests/behat like the current setup assumes. It would be nice to just set these settings in the docker-compose.yml

I think these could both

[2015-07-25 17:48] kyleskrinak opened #46 "Cannot start container, error starting userland proxy tcp 0.0.0.43 bind address already in use"
Having stepped through the documentation, and after running `dsh up` I am seeing this error:

Creating ursdrude_web_1...
Cannot start container 51a77a23a168deb2f951bd01648f384fe4736caab546a662dc5b619f4da392fd: Error starting userland proxy: listen tcp 0.0.0.0:443: bind: address already in use

If I comment the port 443 line in the docker-compose.yml file, then port 80 complains.

If I uncomment th

[2015-07-25 20:18] kyleskrinak commented on #46
I'm guessing this is a duplicate of #44? Changing the value for vhosts_proxy to `false` as recommended here: blinkreaction/boot2docker-vagrant/issues/31 allows me to run my project.

[2015-07-25 20:19] #46 closed, assigned to nobody

[2015-07-29 14:12] timodwhit commented on #45
++ Custom docroot, our standard docroot is `htdocs`.

[2015-08-06 06:02] lmakarov commented on #43
Yeah, that's an issue I ran into last month while refactoring the setup - having PHP in a single place (cli container) instead of two places (web and cli).
I don't have a solution for this yet and this blocks the release of the refactored configuration.

[2015-08-06 12:20] joshbenner commented on #43
Why does web depend on cli?

[2015-08-06 13:23] lmakarov commented on #43
@joshbenner web = apache (only), cli = php (both php-fcgi and php-cli)
The goal is to have a single PHP in one place (cli) instead of two (web and cli), so there are no version mismatches, less maintenance overhead, etc.

[2015-08-06 13:41] joshbenner commented on #43
IMO: I'd avoid coupling web and cli like that, and instead move the responsibility of version matching to the use of tags in docker-compose.yml.

[2015-08-06 13:45] lmakarov commented on #43
@joshbenner having PHP in two places in redundant and produces many webserver-php version combinations that need to be maintained. What kind of issues (besides this one) do you see in moving php-fcgi service out of the web container into cli?

[2015-08-06 14:14] joshbenner commented on #43
Are you running PHP as a separate process (ie: FPM), or are you using an Apache module? If you are using a module, then PHP is part of the apache process and should be in the same container. If you are using a separate process, then having separate containers is acceptable, but I would keep that container distinct from the "cli" container. This suggests you'd have a "php" image, which two containe

[2015-08-07 20:36] frankcarey commented on #21
Doh, same issue here... wouldn't run properly in linux (ubuntu) until I made this change.

[2015-08-08 13:14] kyleskrinak commented on #27
FWIW, I had this problem, and the container output isn't the same as error.log or access.log — which you can get to.

First, get your container's name using docker ps -a. I'm focusing on apache2 problems at the moment, so this is:
`1511250b0c95        blinkreaction/drupal-apache-php:2.2-5.5   "/bin/sh -c '/opt/st   2 minutes ago       Up 2 minutes                192.168.10.12:80->80/tcp, 192.168.1

[2015-08-21 20:50] achekulaev commented on #42
It's been a while. Now there is dsh behat command in develop branch

[2015-08-24 20:15] kadu opened #51 "How to use behat"
Hi, I'm trying to use behat on my project, when I run dsh behat I have a series of error on screen:

Could not open connection: Curl error thrown for http POST to http://browser:4444/wd/hub/session with params: {"desiredCapabilities":{"tags":["cli","PHP 5.6.10-1+deb.sury.org~precise+1"],"browser":"firefox","version":"","browserName":"firefox","browserVersion":"","platform":"ANY","ignoreZoomSetting

[2015-08-25 08:49] frederickjh commented on #21
/bin/sh is a link to /bin/dash  in Ubuntu since 8.04 /bin/bash is still the user shell. My guess is these scripts are written on OSx which uses bash as sh.

[2015-08-26 13:41] lmakarov commented on #44
Fixed in [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)

[2015-08-26 13:41] #44 closed, assigned to nobody

[2015-08-26 13:42] lmakarov commented on #43
Fixed in [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)
Moved the new experimental setup into a feature branch: https://github.com/blinkreaction/drude/tree/feature/no-php-in-web

[2015-08-26 13:42] #43 closed, assigned to nobody

[2015-08-26 13:43] lmakarov commented on #42
Should be fixed in [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)

[2015-08-26 13:43] #42 closed, assigned to nobody

[2015-08-26 13:44] lmakarov commented on #41
Fixed in [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)

[2015-08-26 13:44] #41 closed, assigned to nobody

[2015-08-26 13:47] achekulaev commented on #51
@kadu please see https://github.com/blinkreaction/drude/blob/master/docs/behat.md

[2015-08-26 13:47] #25 closed, assigned to nobody

[2015-08-26 13:48] lmakarov commented on #21
Fixed in [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)

[2015-08-26 13:48] #21 closed, assigned to nobody

[2015-08-26 13:52] lmakarov commented on #12
We now have a bunch of automation commands:
- `dsh install` - Install/check prerequisites, boot2docker and drude config
- `dsh init` - Execute project init script .docker/scripts/drude-init.sh.

See https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1

[2015-08-26 13:52] #12 closed, assigned to nobody

[2015-08-26 13:53] kadu commented on #51
@achekulaev Tks, my machine was a chorme, and my behat conf was firefox, after some investigation found the problem. thanks. (I just download a firefox container)

[2015-08-26 14:19] #51 closed, assigned to nobody

[2015-08-26 14:26] mkorostoff commented on #12
Nice!  Congrats, looks awesome!!!!!!!!!!!!!

[2015-08-28 15:07] TLyngeJ commented on #30
How about adding [mailcatcher](http://mailcatcher.me/), with an option of bypassing it, so that mails can get sent to a real world SMTP?

[2015-08-28 20:43] TLyngeJ opened #55 "Amend `dsh status` command"
As a technician I find the `dsh status` command useful, but as a developer, I'd much more prefer a list with links to the available websites, in favor of the command executed on the container.

Something like:

[code]

Maybe the original output could be achieved by adding a -v, for verbose, or something.

[2015-08-29 08:41] TLyngeJ commented on #27
It should be trivial to add mappings between the container and the host, that allows the container to write the log files from Apache, MySQL, memcache and what not, to the project folder. Something like:

[code]

[2015-08-29 20:40] TLyngeJ commented on #30
I've tried adding mailcatcher to the base apache image, and it works quite well.

Only issue was that I had a hard time figuring out how to set apache up, so that it would act like a reverse proxy to the mailcatcher web interface.

[2015-08-31 13:03] TLyngeJ opened #56 "`dsh` changes the file permissions"
When doing `dsh drush up drupal` the CLI container changes the file permissions to root (I recon that's cause the CLI commands are running as root), which is slightly breaking the site, and make git unable to control the files.

I could come up with a ton of ideas on how to solve this (setting the user name in YAML file, scripts that picks up the usename from the host, etc) but none of them are, i

[2015-08-31 19:27] achekulaev commented on #56
What's your OS?

[2015-08-31 19:30] achekulaev commented on #27
[code]

@TLyngeJ nice solution

[2015-08-31 19:31] achekulaev commented on #55
I'm sorry I can't think of any way dsh could possibly know about links to websites you have.

[2015-08-31 19:44] achekulaev commented on #55
@TLyngeJ I'm open to propositions how to do it. At the moment `dsh st` shows you output of `docker-compose ps`.

[2015-09-01 11:30] TLyngeJ commented on #56
Linux, distribution is Ubuntu.

[2015-09-01 11:36] TLyngeJ commented on #55
Ohh, I thought that dsh was building that table. That complicates things a bit.

[2015-09-02 18:42] achekulaev commented on #56
So at the moment there is no solution from Docker for that. "Massive recursive chowns" is the only straightforward solution.

Potentially at container start we could take current user id on host, create user with the same id inside the container and employ that user (not root) to run everything. But that's a pretty massive change with many potential problems that is not going to happen soon. But w

[2015-09-03 10:06] TLyngeJ commented on #56
If you believe that a "Massive recursive chowns" is the only straightforward solution, then why can't that take place in the docker-drupal-cli's statup.sh script? As the very last thing before exit.

I know this isn't a current issue if you run docker in a VM but it is on Linux. And it will become a very big issue when OSX and Windows can run docker natively.

[2015-09-03 17:35] achekulaev commented on #56
I'm not sure if we are talking about the same thing. By "massive chown" I mean

[code]

You're not updating Drupal every day don't you? Running one command to apply proper permissions doesn't look like lots of pain. Or am I missing some common scenario you have to deal with every day?
Chown-ing in `startup.sh` is a mere band-aid. You'd have to restart container each time. What's the point of resta

[2015-09-03 18:31] lmakarov commented on #56
@TLyngeJ @achekulaev and I discussed the the scope of "making this work properly" on Linux.

This is doable with a bunch of workarounds:
- passing the Linux user UID to the container
- setting up a user with this UID at container startup
- making sure this user has appropriate access
- making sure this works across all docker images we are currently using (which may be affected by this issue)

As

[2015-09-07 12:59] frederickjh opened #57 "Is it possible to setup drush aliases to use with drude containers?"
Hi!
Is it possible to create drush aliases to work with drude containers? If so can you include a sample aliases file?

Thanks!
Frederick

[2015-09-08 20:11] achekulaev commented on #57
Hi. Yes sure.
You need to have your database available from host.
If you're using Drude's vhost proxy then run `dsh st` and look for VM port to which your database container is mapped to. In this example `proj_db_1` is mapped to port `32772` on VM:

[code]

In my other case I don't use vhost proxy. I have it disabled in my `vagrant.yml` while in `docker-compose.yml` I have my db container's `3306`

[2015-09-08 23:13] lmakarov commented on #32
Resolved in https://github.com/blinkreaction/docker-drupal-cli/commit/344eb6b37bc17c74995fde761443057e2dd2f891#diff-3254677a7917c6c01f55212f86c57fbf

`docker-compose pull` to get the latest cli image, then `dsh up` to restart containers.

[2015-09-08 23:13] #32 closed, assigned to nobody

[2015-09-11 17:08] lmakarov commented on #57
Hi @frederickjh, can you elaborate on your use case?

You do not normally need a drush alias to use drush with a site running on Drude.
Simply use Drush inside the CLI container: `dsh drush`

If you are not using `default/settings.php` for the site, then you have several options:
- cd into sites/<sitename> and run `dsh drush status` from here
- use `dsh drush -l <site_domain> status`
- create a dr

[2015-09-12 09:45] frederickjh commented on #57
Hi @lmakarov!

<pre>drush sql-sync @website.prod @website.localdev</pre>

Syncing the production database to the local development environment via drush is the use case.

The database connection was what was tripping me up. I am on Linux not running a vhost. Port 3306 is in use on the host machine. I basically meant that I needed to set the port number in the settings.php file to the same port tha

[2015-09-14 13:56] lmakarov commented on #57
@frederickjh here's an example from one of my project init scripts (`dsh init`):

`dsh drush -l example.com sql-sync @project.prod @self -y`

This will sync the DB from `@project.prod` to the site you have running in Drude.
I personally do not even have drush installed on my Mac anymore. Using containers/Drude for this :)

[2015-09-15 15:56] lmakarov opened #60 "Document DB connection options for external tools"
Need documentation explaining how to connect tools like Sequel Pro, SQLyog etc to the DB container.

[2015-09-15 15:57] lmakarov commented on #60
On projects using vhost-proxy you have two options:
1. Use `dsh ps` to check the port number of the mysql container - http://take.ms/qOFwE
2. Set a static port mapping in `docker-compose.yml` - http://take.ms/Gfg8p (28KB)

Recommended option for now is #2, since it is less hassle in the long run. You’ll just have to make sure multiple projects won’t run into port collision (e.i. two projects fight

[2015-09-17 12:32] TLyngeJ commented on #56
@achekulaev You are absolutely right. I don't do it every day. But I do it a couple of times every month on around 20 sites. So for people that really uses docker heavily, this is a party stopper.

My personal solution for this issue is this:

[code]

`$wwwuser` is an environment variable set in the docker-compose.yml.

And doing something similar shouldn't be that difficult in your setup, as you

[2015-09-18 03:17] achekulaev commented on #56
Thanks for sharing. It's a surprise that this works for you. Am I getting right that `$wwwuser` contains **username** of your current user? It's just weird that it works because I guess `uid` of that user inside container doesn't match `uid` of your user on host.

[2015-09-18 08:14] TLyngeJ commented on #56
@achekulaev You're right. That was a lucky punch. This only works because the user on the host is the first I created and the same goes with the container. Therefore they share the same uid and gid. Guess I just hit the famous "90%" use case there :-)

According to https://docs.docker.com/compose/yml/ the `environment` key will grab the corresponding host variable if you don't pass a value. Maybe

[2015-09-26 00:26] frederickjh commented on #57
Hi @lmakarov! Where are you running that example from? From a docker container? Which one? Boot2Docker virtual machine?

I am still unable to get the sql-sync working. Drush instructions state that one site must be local. Both cannot be remote. Having the database server on a different container than  drush is on makes this difficult to make it work or maybe impossible.

I have been able to do a d

[2015-09-26 18:10] comxd commented on #27
Thanks!

[2015-10-02 13:27] lmakarov opened #61 "Add a Varnish node"
Add a Varnish container and ability to modify Varnish configuration per project.

[2015-10-02 13:42] lmakarov commented on #57
@frederickjh I run that from my Mac host in the `<path-to-project>/docroot` directory. Should also work the same way in B2D.

If you are in the CLI console (`dsh bash`), then `cd /var/www/docroot` and `drush -l example.com sql-sync @project.prod @self -y`

In all of these cases there is one local site (`...-l example.com ... @self...`) and one remote site (`... @project.prod ...`).
Behind the scen

[2015-10-05 15:55] frankcarey opened #62 "Latest Solr changes cause 500 errors, should version changes."
4-5 days ago, our builds started to break. After a lot of debugging, we tracked it down to the Solr image changes of around the same time. I'm still not sure WHY those changes broke the builds (these are fresh builds from the testing server), but they did. We forked the repo to https://github.com/devinci-code/docker-drupal-solr and created our own docker builds to revert those changes and now ever

[2015-10-05 16:06] lmakarov commented on #62
Hi @frankcarey, sorry for the broken build. We are aware of the problem and got some broken builds too...
Using tags would mean a lot of additional overhead (supporting release cycles for each of the images). Docker hub is also not very efficient with branches and tags and would rebuild ALL of the branches and tags in the repo every time there is a change to one of them.
I'm considering using dock

[2015-10-05 16:45] lmakarov commented on #62
@frankcarey I rolled back https://github.com/blinkreaction/docker-drupal-solr master branch and moved all recent refactoring to the develop branch.

Please switch to one of the following image tags:

[code]

The old tags will also work for now and point to master, but will be deprecated ones a stable build is produces after image refactoring.

[2015-10-06 06:06] frankcarey commented on #20
WTF? Why doesn't the ip address change right away, why does it take ~20 minutes?This issue should be front and center on the installation docs in a troubleshooting section. For weeks we thought this was an NFS issue until I hunkered down to fix this for one of our developers and noticed the IP address in the VM was changing.  Here is some more helpful info at least...

Temporary fix (while the VM

[2015-10-06 15:15] lmakarov commented on #20
@frankcarey
https://github.com/blinkreaction/drude/blob/master/docs/troubleshooting.md

[2015-10-12 14:29] Nebel54 opened #63 "my.cnf and php.ini overrides not working"
Hello and thanks for sharing drude!

I've got a problem getting custom configurations for mysql running (using boot2docker an a mac). The docker-compse.yml contains those lines:

[code]

Looking at the folder structure in ./.drude/etc/mysql/ the file my.cnf is a directory. If i put a file (e.g. my.cnf) into this folder, I end up with my config in the db container in /etc/mysql/conf.d/z_my.cnf/my.c

[2015-10-12 14:30] Nebel54 commented on #63
Replacing the folder ./.drude/etc/mysql/my.cnf also leads to the Error "System error: not a directory"

[2015-10-12 14:49] Nebel54 commented on #63
OK, it seems like this is a docker issue: https://github.com/docker/compose/issues/424. Mounting of single files should not work anymore.

[2015-10-12 14:49] lmakarov commented on #63
Hi @Nebel54, grab examples from here https://github.com/blinkreaction/drude/tree/master/examples/.drude/etc and put them into `/.drude/etc` in your project. You can also check how things are wired in the [drude-testing](https://github.com/blinkreaction/drude-testing) project.

Restart containers with `dsh restart` (in the current stable release it will also restart the VM, this will change to rest

[2015-10-12 14:51] lmakarov commented on #63
Mounting of a single file definitely works. We are using this setup and it works :)
Not sure what's the deal with https://github.com/docker/compose/issues/424
Try ^^ and report back.

[2015-10-12 14:53] Nebel54 commented on #63
Will do, thank you!

[2015-10-12 15:32] Nebel54 commented on #63
Thank you! Dropping the old vagrant image and setting everything up again did the trick. No idea what happened here…

[2015-10-12 15:32] #63 closed, assigned to nobody

[2015-10-25 15:04] alanburke commented on #57
@lmakarov Perhaps an odd question, but where are the Drush alises for the remote sites defined.
running 'dsh drush sa'  doesn't list the aliases defined in my ~/.drush folder?

[2015-10-25 21:54] frederickjh commented on #57
I believe that the drude project is copying these in from the .drush folder. See the startup.sh script for more info. I believe that it should copy in the drush and ssh settings from the host into the container on startup, so if you make changes that you want to see you need to stop the container then start it so it will copy the changes.

[2015-10-26 19:25] lmakarov commented on #57
@alanburke, @frederickjh is right - the CLI container will have access to, copy and use the ~/.ssh and  ~/.drush folders from your host.
In addition you should be able to place drush aliases in the project repo (preferable IMO) under:
- /drush/aliases
- /docroot/sites/all/drush

See our [D7 sample project](https://github.com/blinkreaction/drude-d7-testing) - it is using [/drush/aliases/drude.alias

[2015-10-29 14:03] lmakarov commented on #62
Marking as resolved.

[2015-10-29 14:03] #62 closed, assigned to nobody

[2015-10-29 14:10] lmakarov commented on #45
A custom docroot path can be set via the DOCROOT env variable on the web container, e.g.

[code]

This was around for a while, but is not yet fully supported and tested with some dsh commands ( dsh has `docroot` hardcoded in a few places)

As for behat - it is now possible to pass the path to behat tests via `--path` option, e.g.

[code]

`path-to-tests` is relative to the docker-compose.yml file

[2015-10-29 14:13] lmakarov commented on #27
I've been refactoring most of the images to output logs to /dev/stdout. Docker collects those and you can view them with `docker logs <container_name>` or `docker-compose <service_name>`

We've added a wrapper in dsh for this: `dsh logs` or `dsh logs <service_name>`

[2015-10-29 14:13] #27 closed, assigned to nobody

[2015-10-29 14:14] lmakarov commented on #24
Added in https://github.com/blinkreaction/docker-drupal-cli/commit/dc45e33fc0e236e4c3d961ab760c6eb2712d85f8 and should be available in the latest versions of the cli container and drude.

[2015-10-29 14:14] #24 closed, assigned to nobody

[2015-10-29 14:26] lmakarov opened #65 "`dsh stop --all` should not stop system containers"
[code]

`vhost-proxy` and `dns` are system containers and should not be touched by `dsh stop --all`.
We should be able to use container labels (e.g. set `system` label on these two) and filter by labels with `docker ps --filter`

[2015-10-30 15:44] lmakarov commented on #57
I just did some testing to confirm the alias visibility with drush7 vs drush8.

drush7

[code]

drush8

[code]

As you can see drush8 will scan directories down for alias files. It also scans two additional location compared to drush7:

[code]

So the most **failsafe project specific locations for site aliases are**:

[code]

We have an extra configuration in the CLI container that includes `repo/

[2015-10-30 15:44] #57 closed, assigned to nobody

[2015-11-03 21:19] lmakarov commented on #56
I've just committed https://github.com/blinkreaction/drude/commit/360f181047483fd714586f1378e6c1f31b9bef05, which  lets the user id in the cli container to be set to your host use id.

@TLyngeJ would you be willing to test this?

Steps:
- Switch cli to `image: blinkreaction/drupal-cli:latest`
- Update dsh to the dev version: `DRUDE_BRANCH=develop dsh self-update`
- `export DRUDE_SET_UID=$(id -u)`

[2015-11-10 02:35] #65 closed, assigned to lmakarov

[2015-11-12 21:03] alexander-danilenko opened #67 "PHP gnupg and ssh2 extensions"
There are lot of 3rd party services integrations based on next things:
- Generate some file on Drupal side
- Encrypt this file using `gnupg` key
- Send this file via SFTP to 3rd party service for parsing file on service side

Would be great to add next PHP extensions to container, but do not enable them automatically by default for making possibility to enable them via `.drude/etc/php5/php.ini`

[

[2015-11-12 21:33] alexander-danilenko commented on #67
update: there is no `gnupg` extension for `PHP 5.6` yet

[2015-11-12 22:07] lmakarov commented on #67
For now until this gets into `blinkreaction/drupal-cli:stable`

[code]

[code]

http://take.ms/gbfm5
http://take.ms/U5sWK

[2015-11-16 19:15] dashav opened #68 "Please add fonts in selenium container"
The font on the screenshot from behat does not look correct (e.g. Verdana, Arial), I think it is because standard MS fonts are not installed in the selenium container.

Could you please add:

[code]

ttf-mscorefonts-installer - Installer for Microsoft TrueType core fonts

This package allows for easy installation of the Microsoft True Type Core Fonts for the Web including:

   Andale Mono
   Arial

[2015-12-03 20:04] TLyngeJ commented on #56
Hi @lmakarov

I have not forgot about this. Just been quite busy lately. But I'm getting there... Eventually :-)

[2015-12-03 20:24] lmakarov commented on #56
@TLyngeJ We've got some happy Linux users so far using https://github.com/blinkreaction/drude/issues/56#issuecomment-153492700.
It does not take long to switch and try it ;)

[2015-12-08 02:50] kyleskrinak opened #72 "Drush 8.0.1 `drush up` doesn't recognize the available drupal core update"
This may not be a drude issue, but I'm unclear where to start. I first updated drush with `composer global update` which updated it to 8.0.1. Afterwards, and after the release of 8.0.1, I'm seeing this:

[code]

In lieu of making this work, I did a patch update to Drupal core using the patch here: http://fuerstnet.de/en/drupal-upgrade-easy-way

I'm curious if anyone else is experiencing this? Or,

[2015-12-09 16:30] alexander-danilenko opened #73 "Problems on Windows: sh: docker_compose: not found"
Steps for bug replicate:

[code]

all works good, containers started successfully.

[code]

returns error:

[code]

Workaround is:

[code]

[2015-12-20 23:26] kyleskrinak opened #74 "Drupal 8 — drupal site:mode dev triggers a date.timezone setting warning"
Running `dsh exec drupal site:mode dev` on a drude container will trigger a warning on every subsequent page load:

[code]

Running:
`sed -ri 's/;date.timezone =/date.timezone = America\/New_York/g' /etc/php5/fpm/php.ini`

on the CLI volume addresses this issue — but is there a more automated way to handle this?

[2015-12-21 14:20] lmakarov commented on #74
@kyleskrinak, sure. See docs here https://github.com/blinkreaction/drude/blob/develop/docs/settings.md
Make sure php.ini and my.cnf "files are not folders" on your local.
You may have to reset the containers (`dsh reset`) to get these picked up, since by default docker will create empty folders if a file mount does not exist. So when you replace the empty folders with the actual files, Docker may

[2015-12-21 15:18] kyleskrinak commented on #74
Thanks, @lmakarov that works great on a new D8 instance. Perhaps I'm in error but, `dsh install drude` does not install the .drude folder on a new project. I must `dsh up` to create the .drude directory (as well as the soon-to-be-destroyed containers) add the php.ini files and then `dsh reset` for the php.ini to become incorporated. Is that correct?

Drude is fantastic, btw.

[2015-12-21 15:29] lmakarov commented on #74
`dsh install drude` only grabs the `docker-compose.yml` file. The `.drude` directory is optional.
It does get created by Docker the first time you start containers with `dsh up`, since there is a mapping for the optional config files in `docker-compose.yml`.

So if you are setting up a brand new project and do need settings overrides (php.ini, my.cnf, etc.):
1. `dsh install drude`
2. (optional) co

[2015-12-21 15:39] kyleskrinak commented on #74
Excellent — thank you for your quick help.

[2015-12-21 15:39] #74 closed, assigned to nobody

[2015-12-25 01:44] comxd opened #75 ""Drush 7.0.0 does not support Drupal 8" on D8 fresh install"
Hi,

It's bug a simply a needed upgrade for Drush?

[2015-12-26 00:31] lmakarov commented on #75
@comxd The cli container has all 3 drush versions:
- `drush6`
- `drush7` (`drush`) - this is the current default version, also called by `dsh drush`
- `drush8`

So for D8 you should use `drush8` (if inside cli) or `dsh exec drush8` (outside of the cli container).

[2015-12-26 12:46] comxd commented on #75
Oh yes thanks!

[2015-12-28 14:48] #75 closed, assigned to nobody

[2015-12-31 16:33] lmakarov opened #76 "Project root and init script detection improvements"
1. `yml_get_path()`
   - fix: should only look for `docker-compose.yml`
   - improvement: stores most recently used project root path in a env variable, compares it with the current project root and outputs a message when the project root path is changing
2. `init()`
   - should be using upfind() directly to find the `.drude` folder and init script in it
   - should output a message with the path

[2016-01-07 14:41] lmakarov opened #77 "dsh drush (with no arguments) throws an error message"
`dsh drush` evaluates into `drush ''` and drush does not like that (an empty argument), e.g.:

[code]

[2016-01-08 15:21] lmakarov commented on #72
@kyleskrinak have you figured out this issue?

[2016-01-08 15:29] kyleskrinak commented on #72
No. Checking Drupal.org, I see 8.0.2 is available. Running `dsh up` … and drush sees the 8.0.2 update. `dsh drush up --y` works as expected. File this under "transient"

[2016-01-08 15:29] #72 closed, assigned to nobody

[2016-01-11 15:14] #67 closed, assigned to nobody

[2016-01-14 08:09] TLyngeJ commented on #56
Hi @lmakarov

Was about to test patch you made. Review looks good so far. But I'm not having issues running `dsh mysql-import`.

I'm running dsh 1.9.3 and the latest CLI container. I did not run `dsh install prerequisites`, as it said that it might break my current installation of docker, which doesn't sound promising.

The command results in

[code]

`dsh sqlc` results in a similar error message.

[2016-01-14 09:16] TLyngeJ commented on #56
Some debug info:
I amended the dsh script

[code]

And this is the result:

[code]

Not sure what is up with the connection string when it comes from the variable though.

[2016-01-14 11:49] TLyngeJ opened #78 "How do I change the php version?"
Admitted, I've not been upgrading Drude for quite a while. And now that I did, I got a bunch of projects that needs PHP 5.3, 5.4 or 5.5.

After PHP has been removed from the web container, to run entirely on the CLI container, I can't figure out how to change the PHP version. It's probably in the documentation, but I can't see it anywhere.

What am I missing?

[2016-01-14 15:21] kyleskrinak commented on #72
Over at https://groups.drupal.org/node/506128 is a discussion on difficulties that sites behind a proxy are experiencing with HTTPS. I wonder if that was the rub?

[2016-01-14 15:56] lmakarov commented on #78
@TLyngeJ we are no longer using older PHP versions on our projects as they are EOL at this point or getting there pretty soon (http://php.net/supported-versions.php). Thus Drude only supports PHP 5.6 at the moment.

Support for switching arbitrary versions would be great (e.g. via https://github.com/php-build/php-build), however it is a pretty tedious thing to maintain.
Early attempts of that are

[2016-01-14 19:10] lmakarov commented on #73
@fat763 I have a fix available now. Can you please test it before I push a release?

In Babun run the following:

[code]

Then try `dsh bash` again

[2016-01-14 20:44] TLyngeJ commented on #78
Roger that! Thanks for the info.

[2016-01-14 20:44] #78 closed, assigned to nobody

[2016-01-15 03:53] achekulaev commented on #56
@TLyngeJ were you changing PS1 recently to make it more colorful?
@lmakarov I guess running clean_string on $file_size should solve the problem above

[2016-01-15 08:04] TLyngeJ commented on #56
@achekulaev Yes, both my zsh (which I primarily use) and bash has a colourful PS1. I even think that this version of Ubuntu (15.10) is "born" with a colourful bash. But I'm not completely sure.

[2016-01-18 10:00] TLyngeJ commented on #56
Despite the little bump on the road, getting the DB imported (which I solved by doing `dsh bash` and ran the `drush sqlc < db.sql` from there) this fix seems to work. I'm a much happier Drupal developer now :-)

[2016-01-18 10:00] #56 closed, assigned to nobody

[2016-01-18 11:58] alexander-danilenko commented on #73
Thank you, @lmakarov!

[2016-01-18 16:42] 3mkay commented on #56
I've been setting-up a few new users and they've all experienced this problem.
All users are on OS X and have some colour alterations to their shell.

After upgrading my dsh to 1.9.3 (from 1.9.1) I also get the same error on OSX with oh-my-zsh

[2016-01-18 17:25] kyleskrinak commented on #74
FYI: You can run `svn export https://github.com/blinkreaction/drude/trunk/examples .drude` in your project directory to download the .drude files in one step

[2016-01-18 20:36] TLyngeJ opened #79 "mysql-import fails"
Inspired by https://github.com/blinkreaction/drude/issues/56#issuecomment-171567821 I thought that it was best to create a new issue.

I'm running dsh 1.9.3 and the latest CLI container. I did not run `dsh install prerequisites`, as it said that it might break my current installation of docker, which doesn't sound promising.

The command results in

[code]

`dsh sqlc` results in a similar error me

[2016-01-19 02:43] #79 closed, assigned to nobody

[2016-01-19 02:44] lmakarov commented on #79
@TLyngeJ please update dsh from develop (`DRUDE_BRANCH=develop dsh self-update`) and try again.

[2016-01-19 03:02] lmakarov commented on #73
This should now be fixed in the develop branch (`DRUDE_BRANCH=develop dsh self-update`)

[2016-01-19 03:02] #73 closed, assigned to lmakarov

[2016-01-19 07:44] TLyngeJ commented on #79
It works! Hurray! :-)

Good job.

[2016-01-21 14:30] shijuckl opened #82 "HTTP request took too long to complete"
In Windows 7 I am getting below error while installing the Drupal site using dsh init.

An HTTP request took too long to complete. Retry with --verbose to obtain debug information.
If you encounter this issue regularly because of slow network conditions, consider setting COMPOSE_HTTP_TIMEOUT to a higher value (current value: 60).
An error occurred trying to connect: Post http://localhost:2375/v1.2

[2016-01-21 14:36] lmakarov commented on #82
Hi @shijuckl, can you provide more information regarding the particular steps to reproduce the issue?

[2016-01-21 14:55] shijuckl commented on #82
In Windows 7 environment after installing 5 steps mentioned from https://github.com/blinkreaction/drude-d7-testing and trying to execute below command the timeout error mentioned above is occuring
Step 6) dsh drush si -y

[2016-01-21 15:04] lmakarov commented on #82
Run the following commands and post output here:

[code]

Also, try running `dsh init` in the `drude-d7-testing` project folder.
That will perform all of the necessary provisioning steps automatically.

[2016-01-21 17:04] shijuckl commented on #82
{ projects }  » dsh version                                                           /c/projects
dsh version: 1.9.3
{ projects }  » docker version                                                        /c/projects
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   76d6bc9
 Built:        Tue Nov  3 19:20:09 UTC 2015
 OS/Arch:      windows/386
An error occurred t

[2016-01-21 17:07] shijuckl commented on #82
I will try "dsh init" in drude-d7-testing project and update you. Thanks for your response.

[2016-01-22 11:04] shijuckl commented on #82
I was running "dsh init" and getting below out put:

{ drude-testing } master » dsh init                                     /c/projects/drude-testing
docker-compose.yml already in place
docroot/sites/default/settings.local.php already in place
docroot/sites/site1/settings.local.php already in place
docroot/sites/site2/settings.local.php already in place
dsh: Starting vagrant vm...
Using smb2 sync

[2016-01-22 14:00] lmakarov commented on #82
@shijuckl, check that your machine supports virtualization and has it enabled:
https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/docs/troubleshooting.md#boot2docker-connection-timeout

[2016-01-22 17:16] kyleskrinak commented on #27
I do not see the output of /var/log/apache2/error.log using @lmakarov's suggestion, above, when running `dsh logs`.

[2016-01-22 20:23] TLyngeJ commented on #55
After the DNS discovery and proxy has been implemented this won't bee needed.

[2016-01-22 20:23] #55 closed, assigned to nobody

[2016-01-22 21:12] lmakarov commented on #27
@kyleskrinak make sure you are using the latest image versions:

[code]

Aslo check if your `docker-compose.yml` file is not outdated
https://github.com/blinkreaction/drude/blob/develop/docker-compose.yml

Web (Apache logs) are sent to the web container stdout. View them with `dsh logs web`
CLI (PHP logs) are send to the cli container stdout. View them with `dsh logs cli`

[2016-01-25 10:11] shijuckl commented on #82
Thanks @lmakarov. I will check virtualization (VT-x) support in my machine and enable it.

[2016-01-27 10:07] shijuckl commented on #82
I have enabled the virtualization in my machine and timeout error is not coming but getting permission denied error. Is there any authentication details needs to be added?
{projects} >> vagrant up                                                            /c/projects
Using smb2 synced folder option
Bringing machine 'boot2docker' up with 'virtualbox' provider...
==> boot2docker: Running triggers be

[2016-01-27 15:10] lmakarov commented on #82
@shijuckl

This looks like an with the `vagrant` user/permissions setup on Windows.

Try the following and note any errors that show up in the two cmd windows when the VM is starting up:

[code]

Here's what happens on Windows when SMB2 sharing option is used (default):
- `vagrant` user is created with password `vagrant` (can be configured in `vagrant.yml`)
- a share is configured with the root at

[2016-02-04 16:42] kyleskrinak commented on #27
I did have to run updates on drude/dsh. I'll report back after my next troubleshooting session. Thank you!

[2016-02-12 03:35] achekulaev commented on #82
@shijuckl

[code]

if it doesn't help then

[code]

[2016-02-12 16:17] lmakarov opened #83 "Сontainer name vs service name distinction in dsh"
Review and update the terminology around `container` vs `service` in `dsh` | `dsh help`.
Most of dsh commands involve a service name as an argument and not a container name - this has to be clearly communicated.

Aslo, `dsh ps` (which triggers `docker-compose ps`) lists container names instead of service names, which is confusion for newcomers. This need to be reported [upstream](https://github.co

[2016-02-12 21:49] achekulaev commented on #83
Documentation is updated in development branch.
Request sent to upstream team here: https://github.com/docker/compose/issues/2369

[2016-02-12 21:58] #83 closed, assigned to nobody

[2016-02-16 10:23] shijuckl commented on #82
Thanks for your response. I am getting the error while dsh init "bash: line 0: cd: docroot: No such file or directory" now. Please help

{ drude-testing } master » dsh init                                     /c/projects/drude-testing
docker-compose.yml already in place
docroot/sites/default/settings.local.php already in place
docroot/sites/site1/settings.local.php already in place
docroot/sites/s

[2016-02-16 15:35] chipk-blink opened #84 "Add "peco" interactive filtering tool to CLI container"
@jmolivas uses a nice incremental-search filtering tool called "peco" that would be nice to include in the cli container for use with drupal console:

https://github.com/peco/peco#installation

https://github.com/peco/peco/releases

I installed this version from within the container and it seems to run fine:

https://github.com/peco/peco/releases/download/v0.3.5/peco_linux_386.tar.gz

[2016-02-16 16:24] jmolivas commented on #84
@chipk-blink: :+1: on this I think peco is really helpful, this is an example how peco looks like:
- drupal container:debug | peco
  ![drupal-container-debug-peco](https://cloud.githubusercontent.com/assets/366275/13082519/e0788760-d485-11e5-8024-1eb275432fde.png)
- drupal router:debug | peco | awk '{print $1}' | xargs drupal router:debug
  ![drupal-router-debug-peco](https://cloud.githubuserconte

[2016-02-19 17:14] banesbyte opened #85 "XHProf to CLI"
Please add XHProf to cli container.

[2016-02-19 18:18] lmakarov commented on #82
@shijuckl can you try the D8 sample project and see it you get any issues there?
https://github.com/blinkreaction/drude-d8-testing

Looks like your original issue is resolved and the one you reported recently could be a bug in the d7 sample project init script, not Drude.

[2016-03-04 18:53] achekulaev opened #87 "dsh commands produce shifted output"
Recently dsh commands started to produce shifted output

![1 dsh 2fusers 2fshaft 2fsites 2fdrude_projects 2fvoya_im 28bash 29 2016-03-04 20-48-29](https://cloud.githubusercontent.com/assets/402007/13536913/6557d160-e210-11e5-9bb6-ed402b8d5cac.png)

Removing `tr` command that trims `\r` from docker-compose output seems to solve the problem (see `docker_compose` function). But it is (probably?) need

[2016-03-04 18:54] achekulaev commented on #87
cc @lmakarov hotfix candidate

[2016-03-04 20:21] #77 closed, assigned to nobody

[2016-03-04 20:23] achekulaev commented on #87
@lmakarov could you check if we're still good on windows?

[2016-03-04 20:25] david-hernandez commented on #87
I don't have access to Windows anywhere. :( Can anyone else test?

[2016-03-07 19:43] lmakarov commented on #87
Did some testing on Mac and Windows. https://github.com/blinkreaction/drude/commit/f6d69074b5f16a42285ddc03a1d3f7a7d294d0fa does fix the issue on Mac, however on Windows the issue is still present.

[2016-03-07 21:21] david-hernandez commented on #87
I guess that makes sense. The trim is what causes the shifting, but the comment there says the trim is needed on Windows only to fix some other problem. This would just stop the shifting on non-Windows, where the trim isn't necessary.

[2016-03-07 22:38] #87 closed, assigned to achekulaev

[2016-03-08 19:12] discipolo opened #91 "make installer manjaro compatible"
would be a shame if this were only compatible with ubuntu 14.04

[2016-03-11 17:02] lmakarov commented on #30
Added instructions for sending/capturing email via MailHog in 3e8be1eb009a489050fe6c1a76696a8a06f88860

[2016-03-12 08:13] christianwiedemann opened #93 "drude with dns-gen"
Hi,
I am using drude with dns-gen on mac and on linux.  I think this configuration has some advantages against nginx-proxy and blinkreaction/dns-discovery  in an local multi project dev environment.

I can provide a installation instruction and a new vagrant file for mac and a installtion instruction for ubuntu 15.10

Maybe that can be an installaton option for drude? What do you think?

Thanks

[2016-03-12 16:19] lmakarov commented on #93
Hi @christianwiedemann,

Would you share your setup and config details?
What are the local multi project use cases, that you think are not currently covered by Drude or can be handled better?

[2016-03-15 23:44] achekulaev opened #94 "dsh stopped working properly on Linux in 1.12.0"
dsh: Unable to connect to the docker daemon

[2016-03-15 23:47] #94 closed, assigned to achekulaev

[2016-03-25 19:53] christianwiedemann commented on #93
Hi @lmakarov
sorry for my late response. First I want to thank you for dsh. It has completely improved the local dev process at my company.

The advantage of the dns configuration is that you can access the containers directly. So it is easier and more straight forward to connect to mysql or any other databases. Also xdebug etc. can be accessed on port 9000.
As a consequence every non http service

[2016-03-28 18:23] lmakarov commented on #93
@christianwiedemann, If I understand you correctly, you are proposing to add routing for the docker internal network, so containers can be addressed directly by their internal IPs?

The other part (DNS discovery) is already in place in https://github.com/blinkreaction/boot2docker-vagrant (and on Linux/Ubuntu it's done by `dsh`).
See https://github.com/blinkreaction/boot2docker-vagrant/blob/develop

[2016-04-11 19:38] lmakarov opened #97 "Add "dsh drupal" command"
Similar to how there is `dsh drush` for Drush, we need `dsh drupal` for Drupal Console.

[2016-04-11 19:52] #97 closed, assigned to nobody

[2016-04-12 14:02] lmakarov opened #98 "Update reminder"
We need a nagging update reminder and clear update process instructions.

Many users will experience issues, which were addressed a long time ago.
In most cases they are using older version of prerequisites (boot2docker-vagrant, docker cli, docker-compose cli, virtualbox, vagrant), dsh and/or containers, but have no idea how or when to update.

[2016-04-13 13:44] achekulaev opened #99 "Allow install prerequisites to work for LinuxMint 17+"
[code]

[2016-04-13 15:58] lmakarov opened #100 "Add "dsh diagnose" command"
We need a single command to output important version numbers/etc. necessary for issues diagnostics:
- dsh version
- cat <path/to>/Vagrantfile | grep box_version
- docker version
- docker-compose version
- ... what else?

CC @achekulaev

[2016-04-14 21:45] lmakarov commented on #91
I've been thinking about this and similar requests we've been receiving internally.

It will probably make more sense to write manual setup instructions for Linux.
There are just too many distributions out there to support and maintain an automated setup script for all of them.

[2016-04-14 21:47] lmakarov commented on #82
Closing for inactivity. Feel free to reopen if you still experience the problem.

[2016-04-14 21:47] #82 closed, assigned to nobody

[2016-04-14 21:49] lmakarov commented on #61
Docs are now available in docs/varnish.md

[2016-04-14 21:49] #61 closed, assigned to lmakarov

[2016-04-14 21:50] #30 closed, assigned to nobody

[2016-04-14 21:53] lmakarov commented on #40
Addressed in 69155161016673c9f6fe44987dbc2d9f4d7ec07a

[2016-04-14 21:53] #40 closed, assigned to nobody

[2016-04-21 10:16] discipolo commented on #91
i totally agree that its not a good idea to attempt a multiplatform install script.

it should be made possible and clear though that this great project can be used with other distros than nubuntu.
I am looking forward to a [CONTRIBUTING.md](https://github.com/blog/1184-contributing-guidelines) file and will gladly create a [wiki page](https://github.com/blinkreaction/drude/wiki) with install inst

[2016-04-21 11:10] sch4lly commented on #30
Hi! I tried sending mails using your instructions, but did not get it to work. It seems you have to install and configure sSMTP on the `web` box, instead of `cli`, at least this works for me.

[2016-04-21 11:19] TLyngeJ commented on #30
Strange. I've done this like a gazillion times (I have the mail install done during `dsh init`) and it always worked on the CLI container.

[2016-04-21 13:03] lmakarov commented on #30
@sch4lly what images are you using for web and cli?
PHP used to run in the web container alongside apache a long time ago. Now there is only apache in web. Apache does not send email, so there is no point or need in having sSMTP in the web container.

[2016-04-21 13:07] sch4lly commented on #30
@lmakarov I'm using the nginx images, maybe thats the problem

[2016-04-21 13:14] lmakarov commented on #30
Oh... that makes sense now. I even forgot we have an nginx web image.
Just in case - would you be interested to refactor it to follow the web (nginx) + cli (php-fpm) approach?

[2016-04-21 13:16] sch4lly commented on #30
Sure, I will try! Might take some time though.

[2016-04-23 12:47] TLyngeJ opened #105 "vhost-proxy appears to have stopped working correctly"
I just update my Ubuntu OS:

[code]

I also update `dsh`:

[code]

After this, the vhost-proxy has started throwing 503 errors at me no matter what *.drude domain I try to access. I had a look in the `docker logs` for the container and found this:

[code]

I suspect that the `Unable to ping docker daemon: Get http://unix.sock/_ping: dial unix /tmp/docker.sock: socket: operation not permitted` has

[2016-04-25 10:24] alexander-danilenko opened #106 "Solr documentation"
Hi @lmakarov

There is no documentation about Apache Solr and how to integrate it with Drude, but container is exists in compose.yml file: https://github.com/blinkreaction/drude/blob/develop/docker-compose.yml#L94-L104

[2016-04-25 10:51] alexander-danilenko commented on #106
See #107

[2016-04-25 14:35] lmakarov commented on #105
@TLyngeJ

I've not yet tested Drude/Docker with Ubuntu 16.04.
What are your docker and docker-compose versions?

[code]

Try running `dsh install prerequisites` - this should recreate the `vhost-proxy` and `dns` service containers on Ubuntu.

[2016-04-25 20:20] TLyngeJ commented on #105
[code]

[code]

[2016-04-25 20:54] TLyngeJ commented on #105
I've tried to completely wipe docker and drude from the machine and do the entire setup once more before posted this issue.

I deleted `/var/lib/docker` several times, just to make sure that I didn't have something mocking me in there from before the upgrade. No joy.

I even tried do change dockers storage storage drive to devicemapper and overlay to see if aufs was causing issues.

[2016-04-26 03:19] lmakarov commented on #105
@TLyngeJ  try this:

[code]

Restart your project containers with `dsh restart`, then check `docker logs vhost-proxy` again.

[2016-04-26 08:24] TLyngeJ commented on #105
Yay!

Looks like starting the proxy with the `--privileged` did the trick.

[2016-04-26 16:16] lmakarov commented on #105
It's a little more complex than just `--privileged`.

Starting from docker 1.11.0 user namespaces are enabled by default.
The root user in a container no longer maps to uid=0 on the host.
Both of these become necessary: `--privileged --userns=host`

More details here:
https://integratedcode.us/2016/04/08/user-namespaces-sharing-the-docker-unix-socket/

[2016-04-27 18:21] achekulaev commented on #100
vagrant global-status

[2016-04-27 18:22] achekulaev commented on #100
uname -a

[2016-04-27 18:24] achekulaev commented on #100
pwd

[2016-04-27 18:25] achekulaev commented on #100
output of docker-compose.yml

[2016-04-27 18:26] achekulaev commented on #100
ls -la of .drude folder in project to check for custom scripts
ls -la of ~/.ssh to check for keys permissions

[2016-04-27 18:27] achekulaev commented on #100
vagrant --version

[2016-04-27 18:28] achekulaev commented on #100
maybe command to list vbox network adapters

[2016-04-27 18:35] achekulaev commented on #100
possibly automate checking for VT-x enabled
Windows: https://www.microsoft.com/en-us/download/details.aspx?id=592
OSX: sysctl -a | grep machdep.cpu.features | grep VMX

[2016-04-27 18:50] lmakarov commented on #100
This list is getting pretty long. I would avoid certain things, like pwd, ls and contents of large files

definitely these:
- uname -a
- if not linux
  - vagrant global-status
  - VBoxManage --version
  - VBoxManage list runningvms
  - VBoxManage list hostonlyifs

[2016-04-27 21:36] #100 closed, assigned to nobody

[2016-04-28 17:30] pbuyle opened #110 "Configurable subnet"
At our company 192.168.10.1/24 is already used for our internal network. Because drude use this network range for its container, this prevent the docker host to reach our internal network.

Would it be possible to allow configuration of the used subnet?

[2016-04-29 13:00] lmakarov commented on #110
Hi @pbuyle, it is possible, however not straightforward at the moment.

**For Mac and Windows users**
- The VM box subnet/IP can be changed in the `vagrant.yml` file
  https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/vagrant.yml#L59
- You also have to modify either `~/.bash_profile` or `~/.zshrc` and change `DOCKER_HOST=tcp://<DOCKER_HOST_IP>:2375` to match the IP defined in the `

[2016-05-04 17:30] alexander-danilenko opened #111 "drupal self-update is not work out-of-box"
http://take.ms/vaVNf

[2016-05-04 17:46] lmakarov commented on #111
Use `sudo drupal self-update`.

Also, the most recent version of cli has the most recent Drupal Console installed (1.0.0-alpha).
Run `dsh update images`

[2016-05-04 17:46] #111 closed, assigned to nobody

[2016-05-04 19:39] lmakarov opened #112 ""dsh: Unable to connect to the docker daemon" in boot2docker-vagrant"
This check is failing on boot2docker-vagrant
https://github.com/blinkreaction/drude/blob/master/bin/dsh#L244

Apparently timeout in tinycore works differently than on Debian alike systems.
Might be worth not using it all together on Linux.

[2016-05-04 21:33] #112 closed, assigned to nobody

[2016-05-05 23:31] proofoftom opened #113 "Support native Docker for OS X and Windows"
Now that there's a native Docker client [(in beta)](https://blog.docker.com/2016/03/docker-for-mac-windows-beta/) for Mac and Windows, Drude shouldn't need a boot2docker VM if the machine is running native Docker.

[2016-05-06 02:03] lmakarov commented on #113
Unfortunately the "native" implementation is slow like hell.
xhyve on Mac is very far away from being good. Shared volumes are done via fuse and are terribly slow.

Here are some numbers. I'm suing a simple `time drush si -y` test (D7):

[code]

As you can see docker beta performance is much worse than the original stock boot2docker.

Performance concerns with shared files was the main driver for

[2016-05-06 02:10] lmakarov commented on #113
BTW Docker Beta on Windows should be in a better state. They are doing SMB out of the box for shared folders.

I need to run the tests, but expecting the results to be pretty close.

The one VERY annoying thing on Window, though, is that Docker switched to Hyper-V, which locks VT-x to itself. Nothing else (VirtualBox/etc.) will function, unless you completely remove Hyper-V.

[2016-05-06 06:50] james-nesbitt commented on #113
Just a heads up, we are discovering that most of the speed and latency issues on the native docker clients are poor network routing and resolving, as opposed to xhyve/hypervisor and fs woes.

In particular, this one is killing us: https://forums.docker.com/t/ip-routing-to-container/8424

[edit: ps. interesting work going on at drude]

[2016-05-06 06:53] james-nesbitt commented on #113
@lmakarov do you know if the windows smb is mapping users like the osx implementation?

[2016-05-12 19:44] stkrzysiak opened #114 "dsh install prerequisites installs SW I already have"
Despite having vagrant 1.8.1 on my Mac, dsh install prerequisites is downloading and installing 1.8.1.  This behavior is not ideal, i may have 2/3 prerequisites installed, so it should only install the missing one.  I'd be open to fixing this, unless this is desired behavior and I'm overlooking the reason for it.

[2016-05-13 14:40] lmakarov commented on #114
Yep, completely agree.
We should improve the install process and check already installed prerequisites and their versions, and not assume everyone starts from scratch.

[2016-05-13 19:33] achekulaev commented on #114
@lmakarov
We can not do that actually. We install things using homebrew. And update using same. If there's similar software installed not via homebrew that all good and fine but we don't know whether that software is up to date and can't be sure it's gonna work with drude.

I'd recommend uninstalling version that was installed not with brew.

At the same time if vagrant/whatever_else was installed

[2016-05-13 20:55] achekulaev commented on #105
@lmakarov should we append `--privileged --userns=host` to dsh?
vhost-proxy only or dns too?

[2016-05-13 20:59] achekulaev commented on #30
@lmakarov I guess we need to remove nginx image at the moment so people wouldn't get confused.

[2016-05-13 21:27] hanoii commented on #114
I was on BoF on drupalcon and interested in this. I have installed not only vagrant but also docker, docker compose and probably most of the necessary tools. So I wonder if at least, there should not be  way of simply allowing manual install of tools (in whatever method we are comfortable with), with the required versions and allow us to still use drude.

The install could also check the version n

[2016-05-13 22:05] achekulaev commented on #114
@hanoii you can still use Drude for sure! `dsh install prerequisites` is only there to **help** you install required software. If you already have latest-ish `VirtualBox`, `vagrant`, `docker` and `docker-compose` then you pretty much have all the required software.

Simply don't run `dsh install prerequisites` and only run everything else to set up Drude.

[2016-05-16 20:16] lmakarov commented on #106
Landed in develop
https://github.com/blinkreaction/drude/blob/develop/docs/apache-solr.md

[2016-05-16 20:16] #106 closed, assigned to nobody

[2016-05-16 22:47] lmakarov opened #115 "Add support for PHP 7"
Looks like PHP 7 really rocks compared to PHP 5.6. and even outperforms HHVM
http://www.jeffgeerling.com/blogs/jeff-geerling/benchmarking-drupal-8-php-7-vs-hhvm

It's time to get back to PHP multi-version support and add either a separate [cli image](https://github.com/blinkreaction/docker-drupal-cli) version with PHP 7 or put the two side-by-side in a single image.

[2016-05-18 01:11] lmakarov opened #116 "Add "dsh phpcs" command"
It is currently possible to run `phpcs` with drude via `dsh run phpcs ...`, e.g.

[code]

I propose we add a shortcut for this: `dsh phpcs`.

We should settle on the default arguments, make sure it is possible override then and to pass additional ones.

[2016-05-18 03:32] lmakarov commented on #115
Some high level testing using `time drush si -y`

**Drupal 7**

[code]

[2016-05-18 16:12] lmakarov commented on #113
@james-nesbitt what do you mean by "mapping users"?

BTW I’ve put together a comparison of Docker Beta (native fs vs fuse) vs boot2docker-vagrant (native fs vs vboxsf vs nsf) and PHP5.6 vs PHP7.

Using `time drush si -y` with Drupal 7 as a test case.
The first run in every case is a cold start. Averaging across 3 runs in each case.

![Docker Beta vs boot2docker-vagrant + PHP5.6 vs PHP7](http://tak

[2016-05-18 18:19] stkrzysiak commented on #114
@hanoii I think I was sitting next to you at that BoF!  Anyway, I am trying out Kalabox now on windows and it's doing the same thing, re-installing all this software I already have.  This seems to be a theme for me lately.
Regarding Drude @achekulaev, would drude accept a PR that provides a workflow similar to what @hanoii  described?

[2016-05-19 19:52] achekulaev commented on #114
@stkrzysiak yes sure, but PR would also need to check that software is not installed with homebrew (if we're talking Mac) because if it was installed with brew then it can be upgraded and there's no need in manuall installation/upgrades.

On Windows there is another packet manager, though. So windows would require it's own different checks. Of course you could only cover Mac in your PR but you see

[2016-05-19 22:15] achekulaev commented on #116
Maybe we should just make it custom command then?

[2016-05-20 00:35] achekulaev commented on #76
Done in dev

[2016-05-20 00:35] #76 closed, assigned to nobody

[2016-05-21 13:18] omahm opened #117 "Illegal instruction line 124 dsh docker compose $*"
Got this error on a clean install and it's due to running on an older (2010) iMac on OSX 10.11
Just a heads up if anyone else is using an older mac.

To fix:
- Install Python: [https://www.python.org/downloads/](https://www.python.org/downloads/) (2.7.11)
- run: sudo pip install -U docker-compose
- Restart

https://github.com/docker/compose/issues/271#issuecomment-113326266

[2016-05-21 15:58] achekulaev commented on #117
Thank you for a tip to those who will search for solution for this issue.

[2016-05-21 15:58] #117 closed, assigned to nobody

[2016-05-22 08:46] proofoftom commented on #113
That's great to know and definitely provides insight into the mounting performance. I'm closing this issue for now since boot2docker obviously makes more sense at the moment.

[2016-05-23 17:41] DigitalFrontiersMedia commented on #105
I attended the drude bof session at DrupalCon NOLA.  I ran into this problem but the solution above doesn't work for me.  I'm on a Mac.  I get the following:
`flag provided but not defined: --userns
`
Edit:  Somehow I'm running Docker 1.10.3.  Will upgrade and try again.

[2016-05-23 18:33] DigitalFrontiersMedia commented on #105
Upgraded to Docker 1.11.1 but now nothing seems right.  I'm getting:
`Error response from daemon: client is newer than server (client API version: 1.23, server API version: 1.22)`

Found this:  [https://forums.docker.com/t/mismatch-between-api-versions-after-automatic-update-to-1-11-0-beta6-with-docker-machine-on-amazon/8549/5](https://forums.docker.com/t/mismatch-between-api-versions-after-automa

[2016-05-23 20:00] lmakarov commented on #117
This should not be an issues with recent docker-compose releases (1.7.0+).
The next release (1.6.0) of https://github.com/blinkreaction/boot2docker-vagrant will include updated version references and should address this without workarounds.

[2016-05-23 20:04] omahm commented on #117
Excellent, Although now I can't use this excuse to upgrade my Mac :)

[2016-05-23 20:05] lmakarov commented on #116
@achekulaev I gave it a though and a custom command would probably make sense, since this will allow per project configuration of what `dsh phpcs` (or whatever each team decides to call it) is doing.

In that case we just need docs on the phpcs use case with some examples and a sample custom command file for `dsh phpcs`.

[2016-05-23 20:14] lmakarov commented on #105
@DigitalFrontiersMedia on Mac or Windows you will be running on docker 1.10.3.
Only fresh Linux install are getting the latest docker version when installing, since there is no way to force a particular version install on Linux.

Did you have any previous vagrant, virtualbox or doocker/boot2docker versions installed?

If you did not have anything install previously, then you can try a fresh instal

[2016-05-23 21:13] davekopecek commented on #105
I was also at the drude bof session at DrupalCon NOLA.  I'm having this issue as well.

I'm on Windows. I had a previous installations of VirtualBox, Docker & Vagrant.  I uninstalled Docker and Vagrant (but not virtualbox), and removed existing host-only virtualbox adapters.  I've created both the drupal7 and drupal8 test projects and am getting the NGINX 503 error on both.  I can dsh mysql into t

[2016-05-23 21:26] lmakarov opened #118 "Deprecate `dsh self-update`"
`dsh update dsh` is the successor for `dsh self-update`.

We should deprecate and remove and legacy code related to `dsh self-update` at some point (e.g. by end of 2016).

[2016-05-23 22:02] DigitalFrontiersMedia commented on #105
I tried cleaning it up before installing drude but must have missed something because I had to uninstall and re-install drude a few times to even get to the 503 stage.

To be clear, I'm running this on a Macbook Pro, OS X 10.11.4 with 4GB RAM (1.5GB free prior to running dsh up), and 340GB of available disk space.  I thought perhaps I just did not have enough RAM to run this but Dave is getting ve

[2016-05-24 00:43] achekulaev commented on #116
Done in develop

[2016-05-24 00:43] #116 closed, assigned to nobody

[2016-05-24 02:16] achekulaev opened #119 "Refactor 'dsh init' into external command"
- Remove any special processing for 'dsh init' and make it an example of custom command
- Update documentation on how init command can be used

[2016-05-24 02:45] achekulaev opened #120 "Win/Mac support for: dsh reset dns, dsh reset proxy and dsh reset system"
Refactor `install_proxy_service` and `install_dns_service` functions to work on Win/Mac as well

[2016-05-25 16:45] lmakarov opened #122 "Add `dsh cleanup` command"
The following two commands will remove all untagged images and stopped containers:

[code]

[2016-05-25 16:57] lmakarov commented on #105
@DigitalFrontiersMedia looks like you may have a mix of things/versions and the problem is no longer related to vhost-proxy not workin. Please open a separate issue and post the output from the following commands:

[code]

[2016-05-25 17:01] lmakarov commented on #105
@davekopecek what's the URL you are using to access the D7 and D8 test projects?
Should be `http://drupal7.drude` and `http://drupal8.drude` respectively.

If you are getting a 503 error from nginx, that means the web containers are either not running or did not register properly with the vhost-proxy.

Please post an output from `docker ps` (run from anywhere) and `dsh ps` (run once from both d7 a

[2016-05-25 21:14] achekulaev commented on #122
Dangerous command when you have more than 1 project...

[2016-05-25 22:39] lmakarov commented on #122
Yeah, removing all stopped containers is probably too radical... :)
These are still very useful if once wants to clean up old garbage.
We could add a confirmation with a warning message.

[2016-05-27 02:08] achekulaev commented on #122
done in develop

[2016-05-27 02:08] #122 closed, assigned to nobody

[2016-05-29 13:56] beeblook commented on #105
I've just installed drude on Ubuntu 16.04 and had the same error 403.
[Solution by lmakarov](https://github.com/blinkreaction/drude/issues/105#issuecomment-214595193) fixed the issue, but only for the next

[2016-05-29 15:05] DigitalFrontiersMedia commented on #105
@lmakarov Yes, Dave and I tried several things to troubleshoot my problem and we both arrived at the conclusion that for some reason my laptop gets hung up while cloning the various container files yet the script marches on (after a timeout, I suppose).  The script thus tries to set everything up but not all the containers are available.  If repeated over and over and over again, it will get farth

[2016-06-01 13:39] lmakarov commented on #113
Let's keep this one open to track Docker Beta evolvement.

Here's another set of test results with `1.11.1-beta13.1` (previous one was using `1.11.1-beta12`)

![Docker Beta, PHP5.6 vs PHP7](http://take.ms/cfToz)

Things are getting better with `osxfs`. In fact, there is a 2x improvement! :)

[2016-06-02 13:29] YuriyKostin opened #125 "mount: mounting //192.168.10.1/Drude on /c/Drude failed: No such device or address"
Hi, I have an issue with permissions on Windows http://prntscr.com/bbfnw1

[2016-06-02 15:05] YuriyKostin commented on #125
Bug was resolved.
Problem was related to the deployment of the second Drude on local machine. Please remove folders docker and docker-compose with command:

[code]

Then install prerequisites `dsh install prerequisites`

Please check that in 'computer management > shared folders > shares' you have share path only for your "original" Drude.

[2016-06-02 15:05] #125 closed, assigned to nobody

[2016-06-02 18:00] lmakarov opened #126 "Enforce a check for a single boot2docker VM instance"
There should be only one instance of the boot2docker-vagrant VM, otherwise there could be unpredictable issues.

Let's add this check in `install_boot2docker()`.

[2016-06-02 18:07] lmakarov commented on #120
Implemented in https://github.com/blinkreaction/drude/commit/85cf6552f90740693c2a1e8db6caafa11dfb2bd1

[2016-06-02 18:07] #120 closed, assigned to lmakarov

[2016-06-02 18:13] beeblook opened #127 "Conflicts with drupal Adminer module"
Drupal Adminer module uses iFrame.
Possible nginx's vhost-proxy sends 'X-Frame-Options' header to deny display content of iframe.

`Refused to display 'http://test.drude/admin/config/development/adminer/callback?username=&db=drupal' in a frame because it set 'X-Frame-Options' to 'deny'.`

[2016-06-02 18:39] lmakarov opened #128 "Re-evaluate `docker-compose exec` as an option to run commands in `cli`"
At some point back we decided to not use `docker-compose exec` to run commands in `cli` as it was buggy.
Let's re-evaluate it and if it is stable now, then we should refactor our code to use it instead of low level docker commands.

[2016-06-02 20:56] lmakarov commented on #127
@beeblook drude's vhost-proxy does not set `X-Frame-Options` (on purpose). I'm also not seeing it on my end in the Response headers - http://take.ms/VEf03

Where exactly do you get it?

[2016-06-02 23:03] beeblook commented on #127
Sorry, my bad. You're right, this issue isn't connected with drude.
I rechecked, the problem is between module and latest adminer script.

[2016-06-02 23:03] #127 closed, assigned to lmakarov

[2016-06-03 16:00] xpersonas opened #129 "External MySql Client (mysqlworkbench)"
This is my first time working with a virtual environment like this. So this set up is unfamiliar to me. I wonder if anyone can help me figure out how I might be able to use MysqlWorkBench or another client to connect to the database for a particular site running with Drude.

Update: I'm an idiot...
https://github.com/blinkreaction/drude/blob/develop/docs/db-access.md

[2016-06-03 18:49] #129 closed, assigned to nobody

[2016-06-07 15:25] lmakarov opened #131 "dsh should terminate execution on errors"
If there is an error in configs or a command/script failure, `dsh` should terminate further execution.
http://take.ms/5VksN

[2016-06-09 13:33] RoloDMonkey opened #132 "Update readme"
Based on my recent experience with updating a drude environment, update the existing documentation.

[2016-06-10 22:31] #131 closed, assigned to nobody

[2016-06-11 23:34] lmakarov commented on #132
07df7bc85e4f4f04b796fbaa5a31b2cc9eebc0fa

[2016-06-11 23:34] #132 closed, assigned to nobody

[2016-06-11 23:35] lmakarov commented on #119
Released in [v1.4.0](https://github.com/blinkreaction/drude/releases/tag/v1.4.0)

[2016-06-11 23:35] #119 closed, assigned to achekulaev

[2016-06-11 23:37] lmakarov commented on #115
Released in [v1.4.0](https://github.com/blinkreaction/drude/releases/tag/v1.4.0)
Documentation: https://github.com/blinkreaction/drude/blob/v1.4.0/docs/settings.md#using-different-php-versions

[2016-06-12 15:20] stkrzysiak commented on #114
But if you have 3/4 installed it should just install the last remaining prerequisite.  Using this flag would still leave you at 3/4 requisites installed, correct?

[2016-06-17 11:15] kplanz commented on #115
Nice! Just one note: I had to change this line in the dsh exec from `php5-fpm` to `php-fpm` to get it working: https://github.com/blinkreaction/drude/blob/develop/bin/dsh#L1526

@lmakarov not sure how this could be handled correctly in the future. Probably rename `php5-fpm` to `php-fpm` also in here to have it consistent: https://github.com/blinkreaction/docker-drupal-cli/blob/develop/config/super

[2016-06-17 14:54] lmakarov commented on #115
@kplanz thanks for the reminder. I came to a conclusion that renaming `php5-fpm` to `php-fpm` is the only reasonable solution. Unfortunately this is also a breaking change, so folks will have to update to the latest dsh version when we push this out, as well as pull the most recent `cli` image.

We could also add some checks in dsh to support legacy configuration.

Going to reopen this.

[2016-06-17 15:45] lmakarov commented on #115
Pushed a fix to develop ^^

[2016-06-19 16:34] xxalhixx opened #135 "Winpty is missed on Windows"
`

[2016-06-20 22:17] #135 closed, assigned to lmakarov

[2016-06-20 22:20] achekulaev commented on #135
@xxalhixx thank you for report. I have fixed it in version (1.20.1). It's not in master yet.

If you need it right now you can update to dev version by running

[code]

[2016-06-20 22:20] achekulaev commented on #135
@lmakarov I guess candidate for hotfix release

[2016-06-21 05:41] leevh opened #136 "Uninstall script or doc"
Wondering if there are any docs for completely cleaning a system of drude.  I only ask because I tried updating today to dsh 1.20.0 and I'm getting multiple errors.  I was hoping to start over from scratch.

The errors are:

On dsh up for a project:

After trying to purge everything and run dsh install prerequisites, I got:

Not really sure what to do now, any advice would be great, thanks

[2016-06-21 06:11] leevh commented on #136
I'm using IP based mappings for the project.  If I change that in docker-compose.yml the web container starts, but the site still doesn't load.

[2016-06-21 12:27] achekulaev opened #137 "Rename system containers"
Drude system containers should have names that will unlikely intersect with any other containers.

It should be considered renaming them:

[code]

for clarity and uniqueness.

[2016-06-21 12:36] achekulaev commented on #136
@leevh what is your OS? Please always specify OS.

Uninstall functionality is currently in development.

Looks like you have port 80 explicitly exported in your `docker-compose.yml` for `web` service. This conflicts with Drude reverse proxy service. Re-installing will not help in this case.
Can you post here your `docker-compose.yml`?

Most likely for `web` you have something like

[code]

Instead

[2016-06-21 15:21] leevh commented on #136
Sorry about that, here is dsh sysinfo:

https://gist.github.com/leevh/eafd25b02cd8b99a19a85bee711c35d1

and docker-compose.yml

https://gist.github.com/leevh/708b35e9bd9c3a107f0f8080235bd6bf

I was using dedicated IPs for this project

[2016-06-21 15:51] achekulaev commented on #136
@leevh got it. So my recommendation would be stop using dedicated IPs in your `docker-compose.yml`. This is not required to work with multiple projects anymore. And this use-case was actually missed and compatibility with it was lost.

It's recommended to update all your projects to use flexible external port and virtual host name instead.
i.e. in case of your docker-compose:

[code]

Drude includ

[2016-06-21 18:13] achekulaev commented on #136
P.S. If for some reason you still need to use IP binding please follow that "Not recommended way" above. Update dsh to develop version and stop Drude proxy.

[code]

[2016-06-22 04:47] leevh commented on #136
@achekulaev thank you very much, this is awesome info and by following your steps got drude working again!

Just curious, is the drude-d8-testing project up to date like the drude-d7-testing project?  I noticed a lot of difference in the .drude folder of each.

thanks again for the awesome help and for open sourcing an awesome dev tool!

[2016-06-22 04:58] lmakarov commented on #137
With the naming convention used by docker-compose I don't see how project containers names would ever collide with our system service names:

[code]

Are there any other reasons to rename the system services?

[2016-06-22 21:01] achekulaev commented on #137
@lmakarov people may try out other non-Drude systems. They might already have them installed when they install Drude. People might follow some instruction online to run some other container named dns. It can be CI server with other needs and existing containers where Drude is used. Docker Compose Naming convention may change in future. Possibilities are countless. If Drude container names continue

[2016-06-22 21:18] achekulaev commented on #98
dsh update reminder done in develop. Not sure we'll need other reminders.

[2016-06-22 21:19] achekulaev commented on #85
Do we have it there @lmakarov ?

[2016-06-23 04:24] lmakarov commented on #85
We now have something better - blackfire. I (or someone else) still have to put together docs for the use case.

[2016-06-23 10:56] ghost opened #140 "Update prerequisites error on Ubuntu 14.04"
When I updated prerequisites on Ubuntu 14.04, I received an error:

Docker client was updated, but docker server was not.

One more prerequisites updating didn't help.
I had to remove docker and reinstall prerequisites. This fixed my problem.

[2016-06-23 12:03] ghost opened #141 "dsh init doesn't work on windows - docroot not found"
It seems folder isn't mapped to container.

On Windows 10 when I run **dsh init** I receive an error (drude-d7-testing is used):

I've found that this error on this line: https://github.com/blinkreaction/drude-d7-testing/blob/master/.drude/commands/init#L102

There is same issue for drude-d8-testing installation.

[2016-06-24 15:42] achekulaev commented on #140
Fixed in dsh 1.20.3

[2016-06-24 15:42] #140 closed, assigned to nobody

[2016-06-28 05:03] lmakarov commented on #137
@achekulaev while I do not like the longer container names, I agree with your argument. Let's go ahead and rename the system services.

[2016-06-29 14:50] davekopecek commented on #100
I'd love to see virtual_host.

I created a custom command `vhost` but it's a bit hackish:

[code]

Output:

[code]

[2016-06-29 23:02] lmakarov commented on #100
@davekopecek this looks useful. Please submit as a separate request, since this one is already closed.

[2016-06-30 00:54] achekulaev commented on #100
@davekopecek it would be the same code appended to system_information function

[2016-06-30 19:29] achekulaev commented on #128
I was playing with that code recently. It's quite complex and intertwined and working fine. I think we should keep it as is.

[2016-07-01 18:14] lmakarov commented on #128
Since docker plans to retire docker-compose altogether soon, we don't have to deal with this right now. Going to close this issue.

[2016-07-01 18:14] #128 closed, assigned to nobody

[2016-07-04 16:00] syntlyx opened #144 "Docker installation failed ubuntu 14.04"
_~/Projects_ dsh install prerequisites
Installing prerequisites...
Installing Docker...
docker: unrecognized service
sudo: docker: command not found
dsh: Docker installation/upgrade has failed.

https://dl.dropboxusercontent.com/u/77004167/Screenshots/screen_2016-07-04_18-57-12_window.png

[2016-07-05 16:38] achekulaev commented on #144
Thanks @sy2nyk it is fixed in dsh 1.20.4 and will be released soon.

If you need resolution right now please install docker manually and then run prerequisites installation again to install docker-compose and other required configuration.

[code]

Feel free to comment here if you have any further issues with installing prerequisites.

[2016-07-05 16:40] #144 closed, assigned to nobody

[2016-07-05 16:40] achekulaev commented on #144
@lmakarov https://github.com/blinkreaction/drude/commit/a647d0c34d1f90ccc7ba14bd722a301962a53c57

[2016-07-05 17:39] syntlyx commented on #144
need add `sudo service docker start`
before `sudo docker version`

at 941 line

[2016-07-05 17:50] rwagner00 opened #145 "Linux Apache Port Conflict"
When using local Apache2, Drude isn't able to set the vhost proxy correctly due to Apache2 controlling all traffic to port 80, and all requests made to the IP for that container time out.

[2016-07-05 17:57] syntlyx opened #146 "ngrok share not work"
[code]

[2016-07-05 18:12] lmakarov commented on #145
We need docs on how to configure a default apache instance on Linux to not conflict with Drude:

[code]

=>

[code]

Also need to reconsider binding Drude's vhost-proxy to a specific IP address instead of wildcard.
As a workaround for right now the following can be used to reconfigure the vhost-proxy:

[code]

Command above assumes Drude is configured with the default IP: `192.168.10.10`.

cc @ach

[2016-07-05 18:14] lmakarov commented on #146
@sy2nyk that's for reporting this. I guess no one used this in a while and something got outdated.

[2016-07-05 18:45] achekulaev commented on #144
.

[2016-07-05 19:13] achekulaev commented on #144
@sy2nyk Thanks. Indeed in case of update it is now required to start (it used to start automatically before). I've updated dsh. You can get developer version with `DRUDE_BRANCH=develop dsh update dsh`

[2016-07-05 19:45] syntlyx commented on #146
[sy2nyk/docker-ngrok](https://github.com/sy2nyk/docker-ngrok)

For getting url i'm use `docker-compose logs share | grep "URL"`

[2016-07-05 20:19] lmakarov commented on #146
@sy2nyk here's a more recent docker image for ngrok (I guess we should have our own): `wernight/ngrok`

Try it like this. In `docker-compose.yml`:

[code]

then run

[code]

You can get the assigned domain name by accessing ngrok's web UI at http://192.168.10.10:4040
...
Just saw your new comment. If that works for you - great :)

Going to keep this issue open until we have our own ngrok image and

[2016-07-05 23:48] lmakarov opened #147 "Blackfire integration"
- add blackfire probe in cli image (already available in recent cli versions)
- add docs on enabling and using blackfire

[2016-07-05 23:58] #147 closed, assigned to nobody

[2016-07-06 19:16] achekulaev commented on #141
You should not put your project files under `.babun` folder on windows at the moment

[2016-07-07 08:46] ghost commented on #141
Thank you. Yes, it caused this problem. I've moved my projects folder and now it works fine.
I've added additional check for Windows on installation step: https://github.com/blinkreaction/drude/pull/150

[2016-07-08 19:27] lmakarov opened #151 ""browser" service fails after a restart"
Selenium "browser" container start fresh just fine, however it does not restart properly:

[code]

As a workaround it has to be manually reset whenever restarted: `dsh reset browser`

[2016-07-13 19:09] fuzzbomb opened #152 "Provide instructions for contributing to the project"
What are the develop, master and build branches used for?

Which one should a contributor branch from?

`build` is at 9th April 2015, so I guess that's stale?

[2016-07-13 19:42] lmakarov commented on #152
@fuzzbomb please contribute to the default branch: `develop`.
`master` is used for releases and `build` is stale (I will remove it).

We do need contribution instructions in place for the project. Let's use this issue to track that.

[2016-07-13 19:58] fuzzbomb opened #154 "Allow updating dsh wherever it is installed"
`dsh update dsh` uses `sudo`, and always saves the new copy at `/usr/local/bin/dsh`.

If a user has installed it elsewhere in their `$PATH` (say `~/bin/dsh`) and tries to update, they are prompted for a password, and the new version is saved at `/usr/local/bin/dsh`. Now there are two copies, and depending on how the order of dirs in `$PATH`, the old version may still be in use.

Instead of always

[2016-07-14 17:58] travismagic opened #155 "Vagrant and VirtualBox version incompatibility problems"
Hello!

I just tried running `dsh install prerequisites` and `dsh install boot2docker`. Vagrant fails on boot2docker.

It appears VirtualBox had a v5.1 release on 7/12. Latest Vagrant (v1.8.4) says it is only compatible with VirtualBox v5.0, so I had to manually downgrade my VirtualBox version.

I know this is an upstream problem, but should we update the install scripts to pull those specific ver

[2016-07-14 18:16] lmakarov commented on #155
Hi @travismagic, are you on Mac or Windows?

Brew on Mac did not use to support the ability to point explicitly the current number. In other words, we would have to stick to the previous available version all the time.
I believe Choco on Windows does support this though. So there is an opportunity to improve.

[2016-07-14 19:36] travismagic commented on #155
Hi @lmakarov, yes I'm on a Mac.

[2016-07-21 17:55] jmarkel commented on #113
This is not really an acceptable excuse. When you download Docker for Mac you get the native Mac beta release by default, with no indication that it even is a beta (other than in the download url). The default configuration should work with native Docker in addition to boot2docker-vagrant, perhaps with a warning on installation that performance will be better with boot2docker-vagrant.

To be hones

[2016-07-25 20:24] kyleskrinak opened #156 "Unable to mount shared folders"
I ran:

[code]

which, most notably, updated my VBox to 5.1.2, which I've now learned is an issue with Vagrant, as per this ticket #155

So I've downgraded my VBox to 5.0.20 (which it was at prior to the upgrade) however, I am seeing this error:

shelling into the b2d box, I run

[code]

and see:

Only a partial list of [what should be running](http://askubuntu.com/questions/169024/how-can-i-tell-

[2016-07-26 19:36] achekulaev commented on #156
Hi @kyleskrinak

You are not the first reporting this issue. Looks like vagrant did something wrong in their last version which brought a retro-bug.

Looks like downgrading to VirtualBox 5.0.20 and vagrant 1.7.4 solves the issue.

[2016-07-26 19:41] achekulaev commented on #156
FYI there is also another fix which does the same but with destroying existing VM altogether.
I would try it as a last resort http://www.venumurthy.com/2014/02/vagrant-error-failed-to-mount-folders.html

[2016-07-26 23:13] kyleskrinak commented on #156
@achekulaev Thanks for the suggestions. I did try the vagrant vbguest plugin before I posted. However, I get this message:

which leads to

I also previously tried `vagrant ssh` into the b2d machine to run this command:

`sudo ln -s /opt/VBoxGuestAdditions-4.3.10/lib/VBoxGuestAdditions /usr/lib/VBoxGuestAdditions`

which I presume should be

`sudo ln -s /opt/VBoxGuestAdditions-5.1.2/lib/VBoxGuestA

[2016-07-27 19:37] achekulaev commented on #156
Have you tried downgrading to VirtualBox 5.0.20 and vagrant 1.7.4?

[2016-07-27 19:41] achekulaev commented on #154
Not sure if there's an easy way to determine if sudo is necessary or not.

[2016-07-27 20:28] kyleskrinak commented on #156
I had only downgraded VB previously. Downgrading both did the trick. Thanks! Drupal VM is nice, but way overkill, storage-wise.

[2016-07-27 20:29] kyleskrinak commented on #155
FYI: note you should downgrade **both** VB to 5.0.20 AND Vagrant to 1.7.4

[2016-07-27 22:44] achekulaev commented on #156
Great!

I will keep this issue open and update it once it's safe to update to the latest versions.
Going forward we'll get rid of Vagrant.

[2016-07-31 18:28] davekopecek opened #157 "npm Issue - New state of 'nil' is invalid."
I'm running DRUDE on a Windows 10 machine with babun as the terminal.

If I `dsh bash` then run `npm install any-package` I get back `New state of 'nil' invalid` and then get kicked out of the vm's bash terminal and back to babun.

Googling around shows that this may be a UTF-8 windows terminal / docker realted issue:

https://github.com/docker/docker/issues/22345
https://github.com/docker/docker/

[2016-08-03 23:52] lmakarov commented on #155
Vagrant `1.8.5` should be compatible with the latest VirtualBox `5.1.2` release, however `VirtualBox Guest Additions` version we currently have is `5.0.20` and the latest boot2docker release is at `5.0.24`. Both will most likely have issues with VirtualBox `5.1.2`.

So for now avoid VirtualBox `5.1.2` and stick with:
- Vagrant 1.7.4 - 1.8.4
- VirtualBox 5.0.0 - 5.0.26

We can get versions locked f

[2016-08-04 12:08] GGolovenko commented on #155
Confirmed on mac: downgraded from latest versions to VirtualBox - 5.0.26 and Vagrant 1.8.4
after that it works.

[2016-08-04 17:46] lmakarov commented on #155
Going to close this in favor of the issue in the upstream project:
https://github.com/blinkreaction/boot2docker-vagrant/issues/83

Let's move further discussions there.

[2016-08-04 17:46] #155 closed, assigned to nobody

[2016-08-04 17:47] lmakarov commented on #156
This is a duplicate of https://github.com/blinkreaction/drude/issues/155

Closing in favor of the issue in the upstream project:
https://github.com/blinkreaction/boot2docker-vagrant/issues/83

Let's move further discussions there.

[2016-08-04 17:47] #156 closed, assigned to lmakarov

[2016-08-05 19:12] lmakarov commented on #115
Released in [v1.4.1](https://github.com/blinkreaction/drude/releases/tag/v1.4.1)

[2016-08-05 19:12] #115 closed, assigned to lmakarov

[2016-08-09 15:52] eddiewang commented on #157
Any updates this?

[2016-08-10 18:52] achekulaev commented on #157
Unfortunately it's hard to say what's happening and it's most likely between Windows and Docker not Drude's issue.
Thanks for referencing docker issues @davekopecek .

One user says:

I'm not on Windows and can't check.  Have you tried that as a workaround?

As far as I understand it it's like:

[code]

[2016-08-10 18:56] achekulaev commented on #152
We'll provide instructions in a new project

[2016-08-23 18:26] kyleskrinak opened #161 "Site instance "goes away""
Site instance will "go away" after an indeterminate period of time, roughly in the 2 - 10 minute range.

If I try, say, `dsh drush cc all` I'll be met with

[code]

If I do `dsh up` I see:

[code]

Perhaps incorrectly, I'll run

`vagrant halt && dsh up`

To return my docker instances to a running state. However, the site remains unstable and I'll have to repeat this process.

Looking at the logs,

[2016-08-24 04:32] lmakarov commented on #161
@kyleskrinak that's a weird one and won't be easy to debug.

When did this start?

I would kill the VM and start fresh. This would be the easiest and fastest approach.

[2016-08-25 13:00] kyleskrinak commented on #161
I've deleted boot2docker and used `dsh install boot2docker` to add it back. I'm at 30 minutes in, no problems so far. If this fixes it, boy, that was easy. I'll close this if I remain uninterrupted after an hour.

Update: my instances continue to "go away," despite the new VM.

[2016-08-29 13:34] david-hernandez opened #162 "mysql commands do not work when using the docker-machine branch"
Receive this error when trying to import a database:

[code]

When just trying to use the mysql command to connect to the database I get the same command not found line. The drush commands for connecting to mysql work fine, so the db connection is working.

[2016-09-02 12:50] kyleskrinak commented on #161
I've switched to Acquia Dev Desktop — and I'm experiencing a similar problem. The MySQL instance stops, though the stack is far more stable than my drude dev environment. Much of this is concurrent with recent VirtualBox and Vagrant upgrades. This might be an issue with my system?

[2016-09-05 15:23] ghost opened #167 "Installing docker-machine on Ubuntu 14.04 is failed - culr error"
On Ubuntu 14.04 when installing/updating prerequisites there is an error:

It needs _sudo_ - same as for "Docker Compose" (please see _install_prerequisites_ubuntu_ function).

[2016-09-07 17:37] lmakarov commented on #161
@kyleskrinak when you say the MySQL instance stops, do you see something like "MySQL server has gone away" error or something else?

[2016-09-07 19:07] kyleskrinak commented on #161
No:

Whether it's Drude or, now, Acquia Dev Desktop, the MySQL server crashes.

I fired up the drude instance again and let the site run. I open a `dsh bash db` so I can `tail -f /var/log/mysql.err` output. However, the db instance goes away, and I see this:

That's when I have to `vagrant halt && dsh up`

[2016-09-07 21:47] lmakarov commented on #161
I think you are seeing two distinct issues with Drude and Acquia Dev Desktop, as the latter one does not use any VMs/Docker.

Try removing all network adapters in VirtualBox - https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/docs/troubleshooting.md#various-networking-issues

One note - use `dsh logs db` to see DB logs. Logs are streamed into stdout in containers where docker picks

[2016-09-07 22:00] davekopecek opened #169 "Site can't find solr"
I'm unable to get the drude-d7-testing project to recognize apache solr

Per  apache-solr.md I added a solr node to docker-compose.yml:

[code]

Downloaded and enabled `apachesolr-7.x-1.x-dev` and setup a server at `admin/config/search/apachesolr/settings/add` with the url

[code]

Testing the connection from `admin/config/search/apachesolr/settings/solr/edit`
gives me the warning _Your site was u

[2016-09-07 23:21] davekopecek commented on #157
`> /dev/null` works for me.

[2016-09-07 23:21] #157 closed, assigned to nobody

[2016-09-08 14:30] lmakarov commented on #169
Try `http://solr:8983/solr`.

We have to updated the docs to account for the v2 docker-compose file format and newer docker versions.

[2016-09-08 19:16] davekopecek commented on #169
Worked! Thanks.

[2016-09-08 19:16] #169 closed, assigned to nobody

[2016-09-08 20:51] kyleskrinak commented on #161
Thanks @lmakarov the network adapter removal fixed the problem.

[2016-09-08 20:51] #161 closed, assigned to nobody

[2016-09-20 19:08] aysark commented on #157
Just ran into this issue, only seems to happen on some commands.  Work around was:
`npm install -g n > /dev/null`

Running Windows 10, can repro on powershell and cmd.

[2016-09-20 23:28] edilsoncichon commented on #156
This post me helped [Link](https://hacklog.mu/vboxsf-file-system-not-available/) solve this problem.

[2016-09-21 03:41] #167 closed, assigned to nobody

[2016-09-21 03:42] #118 closed, assigned to nobody

[2016-09-21 03:42] #98 closed, assigned to nobody

[2016-09-21 03:43] achekulaev commented on #113
[Docksal](https://github.com/docksal/docksal)

[2016-09-21 03:43] #113 closed, assigned to nobody

[2016-09-21 03:47] achekulaev commented on #136
Drude Mac OS uninstall

Remove ~/.drude
Remove old resolver /etc/resolver/drude
Remove /etc/exports export
Use brew to uninstall vagrant and virtualbox if you don't need them
Remove /usr/local/bin/dsh

[2016-09-21 11:07] rootical opened #170 "env: bash\r: No such file or directory"
Hello,

I've just made setup of env and a project. When running `dsh init` I get:
`env: bash\r: No such file or directory`

Using OSX 10.11.1, oh-my-zsh. Note: I've been using drude before. This is a new machine

Could you please help to understand the problem?

[2016-09-21 12:01] jmarkel commented on #113
Docksal requires Vagrant. That is NOT native Docker. This ticket should NOT be closed, since Docksal does not address it.

[2016-09-21 12:59] rootical commented on #170
Worth to mention other dsh commands are working.

[2016-09-21 13:30] rootical commented on #170
Ok, here is how I fixed the issue:
I had to convert all files in the project directory:

[code]

[2016-09-21 18:11] achekulaev commented on #113
@jmarkel no it does not require Vagrant

[2016-09-21 19:29] jmarkel commented on #113
Pardon me - VirtualBox, not Vagrant. But Native Docker does not require VBox or DockerMachine, it runs natively without additional virtualization tools.

"Docksal software requirements for Mac and Windows:

VirtualBox 5.0+
You need to install it manually before running Docksal."

[2016-09-21 19:48] achekulaev commented on #113
Docksal is in Beta and it's documentation is in the process of update however it will support native Docker when released. It already partially supports it. Drude will be discontinued. Any related work will be only done in Docksal. Hence the issue is closed.

[2016-09-21 21:24] achekulaev commented on #170
Bash requires your bash scripts to be in Unix line ending format (\n) not windows (\r\n)
The issue is not related to Drude

[2016-09-21 21:24] #170 closed, assigned to nobody

[2016-09-21 21:46] lmakarov commented on #170
@rootical make sure that every single developer using Windows on your team has git configured with this:

[code]

This will instruct git to always commit text files with Linux line ending (`\n`).

[2016-09-22 08:15] rootical commented on #170
Guys, actually I've just cloned your drude-d8-testing in that project dir :)
Anyway, will do next time. Thanks

[2016-09-22 12:19] achekulaev commented on #170
If your `core.autocrlf` setting was `true` then git converted line endings when cloning. It's not a repository problem it's a problem of local git setup.

[2016-09-26 13:44] rootical opened #171 "How to properly persist database changes?"
Hello guys, thanks again for your hard and nice work.

I have a question which is really basic and obvious and not really an issue, but I would like to hear your thoughts on that.

What is a database persistency workflow? While developing using drude, how do you do that?

How to make sure database changes wouldn't be erased when calling a `dsh init`, for instance?
Shall I commit db changes to mysq

[2016-09-26 22:39] achekulaev commented on #171
Hi @rootical

Thanks for bringing this up. Due to the use of volumes it is really a non-trivial operation to create truly persistent database.
If your database is not too big the easiest way is to `dsh sqli your_dump.sql` whenever you need. You could modify init script to do that if you need.

If re-importing is not an option then it gets trickier. In two sentences you'd need to modify docker-comp

[2016-09-27 05:24] lmakarov commented on #171
@rootical this really depends on what you are trying to achieve. You mentioned too many things and it's not clear what it is that you are trying to achieve.

The database is generally persistent so long as you do not destroy it along with other containers with `dsh init` or `dsh reset`. You will also lose everything if you drop Drude's boot2docker VM.
Restarting the VM or containers will not reset

[2016-09-27 08:44] rootical commented on #171
Thanks for your answers, folks! Appreciate it. My bad, too many questions raised. But this is something very important and I guess prevents a number of people from using drude based setup.

So far I can see the easiest way is to just work with dumps. But I would really appreciate just a step-to-step guide on how to do what @achekulaev suggests not to not run into many issues.
One thing not really

[2016-09-27 18:36] lmakarov commented on #171
I believe what @achekulaev was referring is the DB sandbox mode. This is a pretty advanced use case and is documented here:
https://github.com/blinkreaction/drude/blob/develop/docs/db-sandbox.md
These docs are most likely outdates at this point. Take a look and if that's what you are really looking for, we can revise them.

Again, please be more specific:
- Do you want to have a container with a p

[2016-09-29 21:35] achekulaev commented on #162
Fixed

[2016-09-29 21:35] #162 closed, assigned to nobody

[2016-10-03 23:33] lmakarov opened #173 "Permissions issues with ssh key and settings copied from host"
There are some permission issues with the cli container. As a result, files cannot be copied properly and the default ssh key is not usable.

[code]

[code]

[2016-10-14 14:05] rootical opened #175 "Unknown MySQL server host 'db -A' (0) with dsh mysql"
I am getting this error when trying to run `dsh mysql`:
`ERROR 2005 (HY000): Unknown MySQL server host 'db -A' (0)`

Inside the bash I can see:
`docker@cli:/var/www/docroot$ mysql`
`ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)`

The drude instance opens correctly, website is running, pages are opening, creating, which means mysql is runni

[2016-10-14 14:43] lmakarov commented on #175
@rootical try `dsh drush sqlc`.
Note: drush has to be run from `docroot` or below to detect Drupal.

[2016-10-14 15:09] achekulaev commented on #175
@rootical what's your dsh version?

[2016-10-14 15:22] rootical commented on #175
[code]

`dsh drush sqlc` works, thanks a lot. Moving to Docksal.

[2016-10-14 15:22] #175 closed, assigned to nobody

[2016-10-17 14:21] waako commented on #162
Sorry to reopen this, but I'm having the same issue with 1.21.1
Also, running `dsh drush sqlc` inside docroot just seems to hang.

I restarted terminal sessions, just in case, but no change.

[2016-10-17 17:25] fuzzbomb commented on #162
Confirmed - I also experience this error.

I updated to dsh 1.21.1 today (by `dsh update dsh`), and ran `dsh update images` as advised in the drude v1.5.0 release notes.

[2016-10-17 18:51] fuzzbomb commented on #162
@waako Downgrading to dsh v1.21.0 fixed the problem for me.

v1.21.1 (ac37787) changed `get_mysql_connect ()` to clean some trailing characters, but it also removed  `DRUDE_IS_TTY=0`, which leads to the command not found error reported by @david-hernandez

It's not possible to re-open this issue, so I'll open a new one.

[2016-10-17 18:58] fuzzbomb opened #177 "Mysql commands broken in dsh v1.21.1"
Follow on from issue #162 and PR #175.

After upgrading to `dsh v1.21.1` today, `dsh sqlc` stopped working. I got this error:

[code]

It's the same error reported by @david-hernandez and @waako in #162.

Reverting to `dsh v1.21.0` solved the problem for me.

In #175, the output of `drush sql-connect` was piped though `sed` to remove some unwanted trailing characters. The same commit also removed

[2016-10-17 19:10] achekulaev commented on #162
@fuzzbomb thanks for the report. I'll fix it later today

[2016-10-17 19:14] fuzzbomb commented on #177
PR #178 restores the use of `DRUDE_IS_TTY=0` in `get_mysql_connect()`

I noticed the `sed` expression was exactly the same as the one used in `clean_string()` so I re-used the comment form there.

I also changed the variable name to `$connection_string`, just because that's what the function is about.

[2016-10-17 19:16] fuzzbomb commented on #162
opened #177 and provided a PR

[2016-10-18 00:38] achekulaev commented on #177
@fuzzbomb thanks for contribution

[2016-10-18 03:18] #177 closed, assigned to nobody

[2016-11-04 10:42] LFilewalker opened #179 "Docker Machine Space Full - What can I do?"
Hi,
I have gathered quite a number of projects now and since the storage file is ~20gb at maximum I wonder what can I do if the docker machine runs out of space? Is there a simple way to resize the storage file? Or is there even a configuration that lets me increase the storage limit for the next time I recreate the VM?
Sorry if this should be the wrong place to ask about this issue, but since I'm

[2016-11-06 03:51] lmakarov commented on #179
Hi @LFilewalker, since sources are mounted via NFS or SMB in the VM, the number and size of the projects do not matter. Though, images and containers may fill up the space over time.

`dsh cleanup` can free up some space.
I personally kill the VM and start fresh every once in a while. Obviously, you have to create DB dumps and then reimport then.

Resizing the VM disk is not supported in dsh. You

[2016-11-08 09:09] LFilewalker commented on #179
Hi @lmakarov,
what's consuming most are the databases actually, and you get to reach the limit pretty fast if there are 2 or 3 projects each with dumps about 5gb. I also tried to create multiple docker machines to split up the projects by copying the vagrant files to different folders. But because of the dns-gen I'm using I can't simply switch the machines without rebooting the host system. Couldn

[2016-11-10 04:59] mminklet opened #180 "Can't init, get blinkreaction/drupal-mysql:5.5 tcp erro"
Pulling db (blinkreaction/drupal-mysql:5.5)...
ERROR: read tcp 10.0.2.15:34944->52.45.33.149:443: read: connection reset by peer

Is this because the repo is down perhaps?

[2016-11-10 05:00] mminklet opened #181 "Update article to reflect that this project is retired"
Please update this article to warn that this project is retired.

https://ffwagency.com/blog/simplify-local-development-drude

[2016-11-10 21:54] lmakarov commented on #180
This looks to be a random issue with hub.docker.com. I'm able to pull this image without issues.
Such issues are often regional and are gone within 24h.

[2016-11-10 21:54] #180 closed, assigned to nobody

[2016-12-07 07:38] drupler opened #182 "Setup Help With Existing Project"
I am trying to configure DDE for existing project. I cloned the repo & placed my codebase in **docroot** folder inside cloned repo. Did follow the steps [here](https://github.com/blinkreaction/dde/blob/develop/docs/dde-project-setup.md) and for settings [here](https://github.com/blinkreaction/dde/blob/develop/docs/drupal-settings.md). Now when I am trying to run **dsh up**, I am getting this error

[2016-12-07 12:57] achekulaev commented on #182
DDE is not supported anymore which is announced on the main page.
Please use Docksal https://github.com/docksal/docksal
You will need to follow "Updating from Drude to Docksal" instruction there to remove DDE

[2017-01-31 17:34] #137 closed, assigned to lmakarov

[2017-01-31 17:34] #99 closed, assigned to achekulaev

[2017-03-16 11:57] Mets666 opened #183 "pt"

[2017-03-16 15:53] #183 closed, assigned to nobody

[2017-05-11 15:11] fuzzbomb commented on #152
Closing this since drude is retired

[2017-05-11 15:11] #152 closed, assigned to nobody

[2017-05-11 15:11] fuzzbomb commented on #154
Closing this since Drude is retired.

[2017-05-11 15:11] #154 closed, assigned to nobody

[2017-11-19 09:42] vladkras commented on #157
I did install with `--verbose` mode, the `yarn-error.log` was created in project folder with helpful indormation:

that lead me directly to npm/npm#9901

So the problem was with volume mounted to windows host and fixed with

`yarn install --no-bin-links`

[2017-11-20 17:54] lmakarov commented on #157
@vladkras thanks for sharing. Looks like for npm the following would be a one-stop fix:

[code]

Not sure whether a similar global option exists for yarn.

[2017-12-21 09:43] mfa01 commented on #170
that happened to me after moving the project to other computer, try to recreate manifest again

[2018-06-08 16:17] #68 closed, assigned to lmakarov